.ui-autocomplete {
  width: auto;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.ui-autocomplete-dropdown.ui-button {
  border-left: 0;
}

.ui-autocomplete-query {
  font-weight: $_font-weight-bold;
}

.ui-autocomplete-panel {
  position: absolute;
  overflow: auto;
}

.ui-autocomplete-panel .ui-autocomplete-list {
  border: 0;
}

.ui-autocomplete-panel .ui-autocomplete-item {
  cursor: pointer;
  border: 0;
  font-weight: $_font-weight-normal;
  text-align: left;
}

.ui-autocomplete-panel li.ui-autocomplete-item {
  padding: $p-auto-complete-item-vertical-padding $p-auto-complete-item-horizontal-padding;
  @include border-radius(0);
}

.ui-autocomplete-panel .ui-autocomplete-table {
  border: 0;
  border-collapse: collapse;
  width: 100%;
}

.ui-autocomplete-panel .ui-autocomplete-table th,
.ui-autocomplete-panel .ui-autocomplete-table td {
  padding: $p-auto-complete-item-vertical-padding 0;

  &:first-child {
    padding-left: $p-auto-complete-item-horizontal-padding;
  }

  &:last-child {
    padding-right: $p-auto-complete-item-horizontal-padding;
  }
}

.ui-autocomplete-panel .ui-autocomplete-moretext {
  font-style: italic;
}

.ui-autocomplete-panel .ui-autocomplete-group {
  font-weight: $_font-weight-bold;
  cursor: default;
}

.ui-autocomplete-itemtip-content {
  display: none;
}

.ui-autocomplete-itemtip {
  position: absolute;
  display: none;
}

.ui-autocomplete-emptyMessage {
  padding: $p-auto-complete-item-vertical-padding $p-auto-complete-item-horizontal-padding;
  font-style: italic;
}

.ui-autocomplete-multiple-container.ui-inputfield {
  display: inline-block;
  vertical-align: top;
  cursor: text;
  list-style-type: none;
  margin: 0;
  padding: ($p-common-input-vertical-padding - .2rem) ($p-common-input-horizontal-padding - $p-select-checkbox-menu-token-margin - .1rem) ($p-common-input-vertical-padding - $p-select-checkbox-menu-token-margin - .2rem) ($p-common-input-horizontal-padding - .2rem);
  overflow: hidden;
}

.ui-autocomplete-token,
.ui-autocomplete-input-token {
  display: inline-block;
  vertical-align: top;
  margin: 0 $p-select-checkbox-menu-token-margin $p-select-checkbox-menu-token-margin 0;
}

.ui-autocomplete-input-token input {
  border: 1px solid transparent;
  margin: 0;
  padding: 0;
  outline: 0;
  background: none;
  line-height: inherit;
}

.ui-autocomplete-token {
  cursor: default;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.ui-autocomplete-token-label {
  display: block;
  padding: 0 $p-select-checkbox-menu-token-horizontal-padding 0 (.5 * $p-select-checkbox-menu-token-horizontal-padding + $p-select-checkbox-menu-token-icon-width);
  font-size: $p-select-checkbox-menu-token-font-size;
}

.ui-autocomplete-token-icon {
  display: block;
  position: absolute;
  cursor: pointer;
  width: $p-select-checkbox-menu-token-icon-width;
  text-align: center;
}
