.ui-breadcrumb {
  overflow: hidden;
  padding: ($p-breadcrumb-vertical-padding - .1rem) ($p-breadcrumb-horizontal-padding - .1rem);

  &::after {
    display: none;
  }
}

.ui-breadcrumb ul {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.ui-breadcrumb ul li {
  padding: 0 $p-breadcrumb-item-horizontal-spacing;
}

.ui-breadcrumb ul li .ui-menuitem-link {
  cursor: pointer;
}

.ui-breadcrumb ul li:first-child a.ui-icon-home .ui-menuitem-text {
  @include ui-helper-hidden-accessible;
}

.ui-breadcrumb .ui-breadcrumb-options {
  margin-left: auto;
}
