.ui-calendar.ui-trigger-calendar {

  .ui-inputfield {
    border-right: 0;
    @include border-radius-rt(0);
    @include border-radius-rb(0);
  }

  .ui-button.ui-datepicker-trigger {
    @include border-radius-lt(0);
    @include border-radius-lb(0);
  }
}

.ui-datepicker {
  display: none;
  width: $p-calendar-width;
  overflow: hidden;

  &::after {
    display: none;
  }
}

.ui-datepicker .ui-datepicker-header {
  display: flex;
  align-items: center;
  position: relative;
  border-width: 0 0 1px;
  padding: $p-calendar-content-padding - .1rem;
  @include border-radius(0);

  &::after {
    display: none;
  }
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  border: 1px solid;
  width: $p-calendar-button-size;
  height: $p-calendar-button-size;
  line-height: $p-calendar-button-size - .2rem;
  text-decoration: none;
  cursor: pointer;

  .ui-icon {
    display: block;
    text-align: center;
    font-size: 0;

    &::before {
      font-size: $p-button-icon-font-size;
    }
  }
}

.ui-datepicker .ui-datepicker-prev {
  order: 0;
}

.ui-datepicker .ui-datepicker-next {
  order: 2;
}

.ui-datepicker .ui-datepicker-title {
  flex: 1;
  order: 1;
  text-align: center;
  line-height: $p-calendar-button-size;
  white-space: nowrap;
}

.ui-datepicker table {
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: $p-calendar-item-spacing - .1rem;
  font-size: $p-calendar-item-font-size;
  width: 100%;
}

.ui-datepicker th {
  padding: (2 * $p-calendar-button-padding) $p-calendar-button-padding;
  text-align: center;
  font-weight: 700;
}

.ui-datepicker td {
  text-align: right;
}

.ui-datepicker td span,
.ui-datepicker td a {
  display: block;
  line-height: $p-calendar-button-size - .2rem;
  text-decoration: none;
  padding: 0 ($p-calendar-button-padding - .1rem);
}

.ui-datepicker .ui-datepicker-buttonpane {
  padding: ($p-calendar-content-padding - .1rem);
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}

.ui-datepicker .ui-datepicker-buttonpane button {
  cursor: pointer;
  padding: 0 (2 * $p-calendar-button-padding - .1rem);
  font-size: $p-calendar-item-font-size;
  line-height: $p-calendar-button-size - .2rem;
}

.ui-datepicker.ui-datepicker-multi {
  width: auto !important;
}

.ui-datepicker-multi .ui-datepicker-group {
  display: inline-block;
  vertical-align: top;
  width: $p-calendar-width;
}

.ui-datepicker-multi .ui-datepicker-group-first,
.ui-datepicker-multi .ui-datepicker-group-middle {

  .ui-datepicker-header,
  .ui-datepicker-calendar {
    border-right: (2 * $p-calendar-content-padding) solid transparent;
  }
}

.ui-datepicker-multi .ui-datepicker-group-first .ui-datepicker-title {
  padding-right: $p-calendar-button-size;
}

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-title {
  padding-left: $p-calendar-button-size;
}

.ui-timepicker-div .ui-widget-header {
  border-width: 0 0 1px;
  @include border-radius(0);

  &::after {
    display: none;
  }
}

.ui-timepicker-div dl {
  display: block;
  margin: 0;
  padding: $p-calendar-content-padding $p-calendar-content-padding 0;
}

.ui-timepicker-div dl dt {
  display: block;
}

.ui-timepicker-div dl dd {
  display: block;
  margin: 0 0 (2 * $p-calendar-content-padding);
}

.ui-timepicker-div dl dd .ui-slider {
  margin-left: .5 * $p-slider-handle-size - .1rem;
}

.ui-timepicker-div .ui_tpicker_unit_hide {
  display: none;
}

.ui-timepicker-div .ui_tpicker_time .ui_tpicker_time_input {
  border: 0;
  margin: 0;
  padding: 0;
  background: none;
  line-height: inherit;
  color: inherit;
  width: 100%;
}
