.ui-carousel {
  position: relative;
  margin: $p-data-table-margin;
}

.ui-carousel .ui-carousel-viewport .ui-carousel-items {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 9999rem;
  left: 0;
}

.ui-carousel .ui-carousel-viewport .ui-carousel-items .ui-carousel-item {
  float: left;
  border: 0;
  margin: 0;
  padding: 0;
  @include border-radius(0);
}

.ui-carousel .ui-carousel-viewport {
  overflow: hidden;
  position: relative;
  border: 0;
}

.ui-carousel .ui-carousel-header {
  display: flex;
  align-items: center;
  padding: $p-data-table-header-vertical-padding ($p-data-table-header-horizontal-padding - .1rem) ($p-data-table-header-vertical-padding - .1rem);
  border-width: 0 0 1px;
  overflow: hidden;
  @include border-radius(0);
}

.ui-carousel .ui-carousel-header .ui-carousel-header-title {
  flex: 1;
  order: 0;
  padding: 0 $p-data-table-header-horizontal-padding 0 0;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ui-carousel .ui-carousel-dropdown,
.ui-carousel .ui-carousel-mobiledropdown {
  height: $p-panel-header-line-height;
  @include border-radius($p-common-corner-radius);
}

.ui-carousel .ui-carousel-page-link,
.ui-carousel .ui-carousel-button {
  cursor: pointer;
  text-align: center;
  width: $p-panel-header-line-height;
}

.ui-carousel .ui-carousel-page-link {
  text-decoration: none;
}

.ui-carousel .ui-carousel-button {
  border: 1px solid;
  line-height: $p-panel-header-line-height - .2rem;
  @include border-radius($p-common-corner-radius);
}

.ui-carousel .ui-carousel-prev-button {
  margin-left: 2 * $p-panel-header-icon-horizontal-margin;
  order: 2;
}

.ui-carousel .ui-carousel-next-button {
  margin-left: $p-panel-header-icon-horizontal-margin;
  order: 3;
}

.ui-carousel .ui-carousel-page-links {
  display: flex;
  order: 1;
}

.ui-carousel .ui-carousel-mobiledropdown {
  display: none;
}

.ui-carousel .ui-carousel-footer {
  padding: ($p-data-table-header-vertical-padding - .1rem) ($p-data-table-header-horizontal-padding - .1rem) $p-data-table-header-vertical-padding;
  border-width: 1px 0 0;
  overflow: hidden;
  @include border-radius(0);
}
