.ui-chkbox {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  min-width: $p-checkbox-size + 2 * $p-checkbox-padding;
  min-height: $p-checkbox-size + 2 * $p-checkbox-padding;
  padding: $p-checkbox-padding 0 $p-checkbox-padding ($p-checkbox-size + 2 * $p-checkbox-padding);
  cursor: pointer;
}

.ui-chkbox .ui-chkbox-box {
  display: block;
  position: absolute;
  width: $p-checkbox-size;
  height: $p-checkbox-size;
  left: $p-checkbox-padding;
  top: $p-checkbox-padding;
}

.ui-chkbox .ui-chkbox-label {
  display: inline-block;
  vertical-align: top;
  padding: 0 $p-checkbox-label-horizontal-padding;
  z-index: 1;
}

.ui-chkbox .ui-chkbox-icon {
  display: block;
  text-align: center;
}
