.ui-chips {
  display: inline-block;
}

.ui-chips-container.ui-inputfield {
  display: inline-block;
  vertical-align: top;
  cursor: text;
  list-style-type: none;
  margin: 0;
  padding: ($p-common-input-vertical-padding - .2rem) ($p-common-input-horizontal-padding - $p-select-checkbox-menu-token-margin - .1rem) ($p-common-input-vertical-padding - $p-select-checkbox-menu-token-margin - .2rem) ($p-common-input-horizontal-padding - .2rem);
  overflow: hidden;
}

.ui-chips-token,
.ui-chips-input-token {
  display: inline-block;
  vertical-align: top;
  margin: 0 $p-select-checkbox-menu-token-margin $p-select-checkbox-menu-token-margin 0;
}

.ui-chips-token {
  cursor: default;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.ui-chips-token .ui-chips-token-label {
  display: block;
  padding: 0 $p-select-checkbox-menu-token-horizontal-padding 0 (.5 * $p-select-checkbox-menu-token-horizontal-padding + $p-select-checkbox-menu-token-icon-width);
  font-size: $p-select-checkbox-menu-token-font-size;
}

.ui-chips-token .ui-chips-token-icon {
  display: block;
  position: absolute;
  cursor: pointer;
  width: $p-select-checkbox-menu-token-icon-width;
  text-align: center;
}

.ui-chips-input-token input {
  border: 1px solid transparent;
  margin: 0;
  padding: 0;
  outline: 0;
  background: none;
  line-height: inherit;
}