.ui-columntoggler {
  position: absolute;
  display: none;
}

.ui-columntoggler .ui-columntoggler-items {
  margin: 0;
  padding: (.5 * $p-overlay-panel-close-size) ($p-select-checkbox-menu-panel-padding - .1rem) ($p-select-checkbox-menu-panel-padding - .1rem);
}

.ui-columntoggler .ui-columntoggler-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 400;
  white-space: nowrap;
}

.ui-columntoggler .ui-columntoggler-item .ui-chkbox {
  flex-shrink: 0;
}

.ui-columntoggler .ui-columntoggler-item label {
  flex: 1;
  padding: 0 $p-checkbox-label-horizontal-padding;
  cursor: inherit;
}

.ui-columntoggler .ui-columntoggler-close {
  position: absolute;
  right: -.5 * $p-overlay-panel-close-size;
  top: -.5 * $p-overlay-panel-close-size;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  width: $p-overlay-panel-close-size;
  height: $p-overlay-panel-close-size;
  text-decoration: none;
  outline: 0;
  @include border-radius(50%);
}

@media only all {
  .ui-columntoggler .ui-columntoggler-item.ui-column-p-1, .ui-columntoggler .ui-columntoggler-item.ui-column-p-2, .ui-columntoggler .ui-columntoggler-item.ui-column-p-3, .ui-columntoggler .ui-columntoggler-item.ui-column-p-4, .ui-columntoggler .ui-columntoggler-item.ui-column-p-5, .ui-columntoggler .ui-columntoggler-item.ui-column-p-6 {
    display: none;
  }

  th.ui-helper-hidden, td.ui-helper-hidden {
    display: none;
  }
}

@media screen and (min-width: 20em) {
  .ui-columntoggler .ui-columntoggler-item.ui-column-p-1 {
    display: block;
  }
}

@media screen and (min-width: 30em) {
  .ui-columntoggler .ui-columntoggler-item.ui-column-p-2 {
    display: block;
  }
}

@media screen and (min-width: 40em) {
  .ui-columntoggler .ui-columntoggler-item.ui-column-p-3 {
    display: block;
  }
}

@media screen and (min-width: 50em) {
  .ui-columntoggler .ui-columntoggler-item.ui-column-p-4 {
    display: block;
  }
}

@media screen and (min-width: 60em) {
  .ui-columntoggler .ui-columntoggler-item.ui-column-p-5 {
    display: block;
  }
}

@media screen and (min-width: 70em) {
  .ui-columntoggler .ui-columntoggler-item.ui-column-p-6 {
    display: block;
  }
}
