.ui-datascroller {
  margin: $p-data-table-margin;
}

.ui-datascroller .ui-datascroller-header {
  text-align: left;
  padding: $p-data-table-header-vertical-padding ($p-data-table-header-horizontal-padding - .1rem) ($p-data-table-header-vertical-padding - .1rem);
  border-bottom: 0;
}

.ui-datascroller-inline .ui-datascroller-content {
  overflow: auto;
}

.ui-datascroller .ui-datascroller-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.ui-datascroller .ui-datascroller-item {
  border: 0;
}

.ui-datascroller .ui-datascroller-loader {
  padding: 0 ($p-progress-bar-height - .1rem);
  @include prevent-collapsing-margins;
}

.ui-datascroller .ui-datascroller-loading {
  border: 1px solid;
  margin: $p-progress-bar-height auto;
  max-width: 12 * $p-progress-bar-height;
  height: $p-progress-bar-height;
  position: relative;
  overflow: hidden;
  @include border-radius($p-common-corner-radius);

  &::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    @include background-size((2 * $p-progress-bar-height) (2 * $p-progress-bar-height));
    @include animation(ui-progressbar-animation 1.6s linear infinite);
  }
}
