.ui-datagrid {
  margin: $p-data-table-margin;
}

.ui-datagrid .ui-datagrid-header,
.ui-datagrid .ui-datagrid-footer {
  text-align: left;
}

.ui-datagrid .ui-datagrid-header {
  padding: $p-data-table-header-vertical-padding ($p-data-table-header-horizontal-padding - .1rem) ($p-data-table-header-vertical-padding - .1rem);
  border-bottom: 0;
}

.ui-datagrid .ui-datagrid-footer {
  padding: ($p-data-table-header-vertical-padding - .1rem) ($p-data-table-header-horizontal-padding - .1rem) $p-data-table-header-vertical-padding;
  border-top: 0;
}

.ui-datagrid-content-empty {
  padding: ($p-data-table-header-vertical-padding - .1rem) ($p-data-table-header-horizontal-padding - .1rem);
}

.ui-datagrid-data {
  width: 100%;
}
