.ui-fieldset .ui-fieldset-legend {
  position: relative;
  padding: 0 ($p-button-horizontal-padding - .1rem);
  line-height: $p-button-height - .2rem;
}

.ui-fieldset .ui-fieldset-toggler {
  position: absolute;
  left: $p-button-horizontal-padding;
}

.ui-fieldset-toggleable .ui-fieldset-legend {
  cursor: pointer;
  padding-left: ($p-button-horizontal-padding + $p-button-icon-width - .1rem);
}
