.ui-inplace .ui-inplace-display {
  cursor: pointer;
  border: 0 !important;
}

.ui-inplace .ui-inplace-disabled {
  cursor: not-allowed;
}

.ui-inplace .ui-inplace-editor {
  display: inline-flex;
  padding-left: $p-inplace-editor-left-padding;
}

.ui-inplace .ui-inplace-editor .ui-button.ui-inplace-save {
  border-right: 0;
  @include border-radius-rt(0);
  @include border-radius-rb(0);
}

.ui-inplace .ui-inplace-editor .ui-button.ui-inplace-cancel {
  @include border-radius-lt(0);
  @include border-radius-lb(0);
}