.ui-menu.ui-megamenu .ui-menu-parent .ui-menu-child {
  width: auto;
}

.ui-menu.ui-megamenu .ui-menu-child > table {
  width: auto;
}

.ui-menu.ui-megamenu td {
  border-right: 1px solid;
  vertical-align: top;

  &:last-child {
    border-right: 0;
  }
}

.ui-menu.ui-megamenu .ui-menu-child .ui-menu-list {
  min-width: $p-menu-min-width;
}

.ui-menu.ui-megamenu.ui-megamenu-vertical {
  display: inline-block;

  > .ui-menu-list {
    flex-direction: column;
    align-items: stretch;
  }
}

.ui-megamenu .ui-widget-header span {
  display: block;
  font-size: 100%;
  padding: ($p-menu-item-vertical-padding - .1rem) ($p-menu-item-horizontal-padding - .1rem) ($p-menu-item-vertical-padding - .1rem) ($p-menu-item-horizontal-padding + $p-menu-item-icon-width - .1rem);
}

.ui-megamenu .ui-menu-list + .ui-menu-list > .ui-widget-header {
  border-top-width: 1px;
}
