.ui-menubar {
  width: auto;
}

.ui-menubar > .ui-menu-list {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.ui-menubar .ui-menu-child {
  top: 2 * $p-menu-item-vertical-padding + $p-common-widget-line-height;
  left: 0;
}

.ui-menubar .ui-menubar-options {
  margin-left: auto;
}
