.ui-menu {
  width: 12.5em;
  position: relative;

  &::after {
    display: none;
  }

  &.ui-menu-dynamic {
    position: absolute;
    display: none;
    z-index: 100000;
  }

  .ui-separator {
    border-bottom: 0;
  }

  .ui-widget-header h1,
  .ui-widget-header h2,
  .ui-widget-header h3,
  .ui-widget-header h4,
  .ui-widget-header h5,
  .ui-widget-header h6 {
    position: relative;
    display: block;
    border: 0;
    padding: $p-menu-item-vertical-padding $p-menu-item-horizontal-padding $p-menu-item-vertical-padding ($p-menu-item-horizontal-padding + $p-menu-item-icon-width);
    margin: 0;
    font-size: 1em;
    text-decoration: none;
  }
}

.ui-menu-list {
  position: static;

  &::after {
    display: none;
  }
}

.ui-menuitem {
  border: 0;
}

.ui-menuitem .ui-menuitem-link {
  position: relative;
  display: block;
  text-decoration: none;
  border: 0;
  padding: $p-menu-item-vertical-padding $p-menu-item-horizontal-padding $p-menu-item-vertical-padding ($p-menu-item-horizontal-padding + $p-menu-item-icon-width);
}

.ui-menuitem .ui-submenu-link {
  padding-right: ($p-menu-item-horizontal-padding + $p-menu-item-icon-width);
}

.ui-menuitem-link .ui-menuitem-icon,
.ui-menu li.ui-widget-header .ui-icon,
.ui-menuitem-text + .ui-icon {
  position: absolute;
  top: $p-menu-item-vertical-padding;
  width: $p-menu-item-icon-width;
}

.ui-menuitem-link .ui-menuitem-icon,
.ui-menu li.ui-widget-header .ui-icon {
  left: $p-menu-item-horizontal-padding;
}

.ui-menuitem-text {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ui-menuitem-text + .ui-icon {
  right: $p-menu-item-horizontal-padding;
  text-align: right;
}

.ui-menu .ui-menu-parent {
  position: relative;
}

.ui-menu-parent .ui-menu-child {
  display: none;
  width: 12.5em;
  padding: 0;
  position: absolute;
  margin: 0;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}

.ui-menuitem-link,
.ui-menu li.ui-widget-header {
  @include border-radius(0);
}

.ui-menu li.ui-widget-header {
  position: relative;
  min-height: 0;
  border-left: 0;
  border-right: 0;

  &:first-child {
    border-top-width: 0;
  }
}

.ui-menu.ui-menu-toggleable li.ui-widget-header.ui-state-hover {
  cursor: pointer;
}

.ui-menuitem-outline {
  outline: 1px dotted;
  z-index: 1;
}
