.ui-menu {
  width: 12.5em;
  position: relative;

  &::after {
    display: none;
  }
}

.ui-menu.ui-menu-dynamic {
  position: absolute;
  display: none;
  z-index: 100000;
}

.ui-menu .ui-menu-list {
  position: static;

  &::after {
    display: none;
  }
}

.ui-menu .ui-separator {
  border-bottom: 0;
}

.ui-menu .ui-widget-header h1,
.ui-menu .ui-widget-header h2,
.ui-menu .ui-widget-header h3,
.ui-menu .ui-widget-header h4,
.ui-menu .ui-widget-header h5,
.ui-menu .ui-widget-header h6,
.ui-menu .ui-menuitem-link {
  position: relative;
  display: block;
  text-decoration: none;
  border: 0;
  padding: $p-menu-item-vertical-padding $p-menu-item-horizontal-padding $p-menu-item-vertical-padding ($p-menu-item-horizontal-padding + $p-menu-item-icon-width);
}

.ui-menu .ui-submenu-link {
  padding-right: ($p-menu-item-horizontal-padding + $p-menu-item-icon-width);
}

.ui-menu .ui-menuitem-link .ui-menuitem-icon,
.ui-menu li.ui-widget-header .ui-icon,
.ui-menu .ui-menuitem-text + .ui-icon {
  position: absolute;
  top: $p-menu-item-vertical-padding;
  line-height: inherit;
  text-align: left;
  width: $p-menu-item-icon-width;
}

.ui-menu .ui-menuitem-link .ui-menuitem-icon,
.ui-menu li.ui-widget-header .ui-icon {
  left: $p-menu-item-horizontal-padding;
}

.ui-menu .ui-menuitem-text {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ui-menu .ui-menuitem-text + .ui-icon {
  right: $p-menu-item-horizontal-padding;
  text-align: right;
}

.ui-menu .ui-widget-header h1,
.ui-menu .ui-widget-header h2,
.ui-menu .ui-widget-header h3,
.ui-menu .ui-widget-header h4,
.ui-menu .ui-widget-header h5,
.ui-menu .ui-widget-header h6 {
  display: block;
  font-size: 1em;
  margin: 0;
}

.ui-menu .ui-menu-parent {
  position: relative;
}

.ui-menu .ui-menu-parent .ui-menu-child {
  display: none;
  width: 12.5em;
  padding: 0;
  position: absolute;
  margin: 0;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}

.ui-menu .ui-menuitem-link,
.ui-menu li.ui-widget-header {
  @include border-radius(0);
}

.ui-menu li.ui-widget-header {
  position: relative;
  min-height: 0;
  border-left: 0;
  border-right: 0;
}

.ui-menu.ui-menu-toggleable li.ui-widget-header.ui-state-hover {
  cursor: pointer;
}

.ui-menuitem-outline {
  outline: 1px dotted;
  z-index: 1;
}
