.ui-menu {
  width: 12.5em;
  padding: .3em;
  position: relative;
  outline: 0 none;
}

.ui-menu.ui-menu-dynamic {
  position: absolute;
  display: none;
  z-index: 100000;
}

.ui-menu-list {
  position: static;
}

.ui-menu .ui-menu-list .ui-menuitem {
  border: 0;
}

.ui-menu .ui-menu-list .ui-widget-header {
  clear: both;
  float: left;
  width: 98%;
  margin: 1px 0;
}

.ui-menu .ui-menuitem {
  width: 100%;
  float: left;
  clear: both;
  margin: 1px 0;
  padding: 0;
}

.ui-menu .ui-menuitem-parent {
  width: 100%;
  float: left;
  clear: both;
  margin: 1px 0;
  padding: 0;
}

.ui-menu .ui-menuitem-link {
  display: block;
  width: 92%;
  outline: 0;
  text-decoration: none;
  font-weight: 400;
  border: solid 1px transparent;
  float: left;
  line-height: 16px;
  padding: .3em;
  cursor: pointer;
}

.ui-menu .ui-menuitem-link .ui-menuitem-icon,
.ui-menu .ui-submenu-icon {
  display: inline-block;
  float: left;
}

.ui-menu .ui-submenu-icon {
  margin-top: 1px;
}

.ui-menu .ui-menuitem-text {
  float: left;
}

.ui-menu .ui-widget-header h1,
.ui-menu .ui-widget-header h2,
.ui-menu .ui-widget-header h3,
.ui-menu .ui-widget-header h4,
.ui-menu .ui-widget-header h5,
.ui-menu .ui-widget-header h6 {
  float: left;
  display: block;
  font-size: 1em;
  margin: 0 auto;
  padding: .3em 3%;
}

.ui-menu .ui-menu-parent .ui-menu-child {
  display: none;
  width: 12.5em;
  padding: .3em;
  position: absolute;
  margin: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}

.ui-menu .ui-menu-parent {
  position: relative;
}

.ui-menu.ui-menu-toggleable li.ui-widget-header {
  position: relative;
  min-height: 0;
}

.ui-menu.ui-menu-toggleable li.ui-widget-header h3 {
  padding-left: 2em;
}

.ui-menu.ui-menu-toggleable li.ui-widget-header.ui-state-hover {
  cursor: pointer;
}

.ui-menu.ui-menu-toggleable li.ui-widget-header .ui-icon {
  position: absolute;
  left: .5em;
  top: 50%;
  margin-top: -8px;
}

.ui-menu .ui-menu-parent .ui-icon-triangle-1-e,
.ui-menu .ui-menu-parent .ui-icon-triangle-1-s,
.ui-menubar .ui-menu-child .ui-icon-triangle-1-s,
.ui-menubar .ui-menu-child .ui-icon-triangle-1-s {
  float: right;
}

.ui-menubar {
  width: auto;
}

.ui-menubar .ui-menuitem {
  width: auto;
  clear: none;
}

.ui-menubar .ui-menu-child .ui-menuitem {
  width: 100%;
}

.ui-menubar .ui-menu-child {
  top: 25px;
  left: 0;
}

.ui-menubar .ui-menuitem-link {
  width: auto;
  padding: .4em .3em;
}

.ui-menubar .ui-menu-child .ui-menuitem-link {
  width: 92%;
}

.ui-menubar .ui-widget-header {
  clear: none;
  width: auto;
  margin: 0 3px 0 0;
}

.ui-menubar .ui-widget-header h1, .ui-menubar .ui-widget-header h2, .ui-menubar .ui-widget-header h3, .ui-menubar .ui-widget-header h4, .ui-menubar .ui-widget-header h5, .ui-menubar .ui-widget-header h6 {
  padding: .4em .3em;
}

.ui-menubar .ui-menubar-options {
  float: right;
}

.ui-menubar > .ui-menu-list > .ui-menuitem > .ui-menuitem-link span.ui-icon-triangle-1-e, .ui-menubar > .ui-menu-list > .ui-menuitem > .ui-menuitem-link span.ui-icon-triangle-1-s {
  *float: none;
}

.ui-menu .ui-separator {
  width: 98%;
  height: 0;
  float: left;
  clear: both;
  margin: 1px 0 0 0;
  padding: 0;
  border-top: 0 none;
}

.ui-menuitem-outline {
  outline: 1px dotted;
  z-index: 1;
}

