.ui-messages-info, .ui-messages-warn, .ui-messages-error, .ui-messages-fatal,
.ui-message-info, .ui-message-error, .ui-message-warn, .ui-message-fatal {
  border: 1px solid;
  align-items: flex-start;
}

.ui-messages-info-summary, .ui-messages-warn-summary, .ui-messages-error-summary, .ui-messages-fatal-summary,
.ui-message-info-summary, .ui-message-warn-summary, .ui-message-error-summary, .ui-message-fatal-summary {
  display: block;
  font-weight: 700;
}

.ui-messages-info-detail, .ui-messages-warn-detail, .ui-messages-error-detail, .ui-messages-fatal-detail,
.ui-message-info-detail, .ui-message-warn-detail, .ui-message-error-detail, .ui-message-fatal-detail {
  display: block;
}

.ui-messages-info-icon, .ui-messages-warn-icon, .ui-messages-error-icon, .ui-messages-fatal-icon,
.ui-message-info-icon, .ui-message-warn-icon, .ui-message-error-icon, .ui-message-fatal-icon {
  @include ui-icon;
  order: 0;
  text-align: center;
}

.ui-message-info-icon,
.ui-messages-info-icon {

  &::before {
    content: $fa-var-info-circle;
  }
}

.ui-message-warn-icon,
.ui-messages-warn-icon {

  &::before {
    content: $fa-var-exclamation-triangle;
  }
}

.ui-message-error-icon,
.ui-messages-error-icon {

  &::before {
    content: $fa-var-exclamation-circle;
  }
}

.ui-message-fatal-icon,
.ui-messages-fatal-icon {

  &::before {
    content: $fa-var-ban;
  }
}

/**/
.ui-message-info, .ui-message-error, .ui-message-warn, .ui-message-fatal {
  display: inline-flex;
}

.ui-message-info-icon, .ui-message-warn-icon, .ui-message-error-icon, .ui-message-fatal-icon {

}

/**/
.ui-messages ul {
  flex: 1;
  order: 1;
  align-self: center;
  margin: 0;
  padding: 0 (.5 * $p-messages-horizontal-padding);
  list-style-type: none;
}

.ui-messages-info, .ui-messages-warn, .ui-messages-error, .ui-messages-fatal {
  display: flex;
  padding: ($p-messages-vertical-padding - .1rem) (.5 * $p-messages-horizontal-padding - .1rem);
}

.ui-messages-info-icon, .ui-messages-warn-icon, .ui-messages-error-icon, .ui-messages-fatal-icon {
  width: $p-messages-icon-size;
  height: $p-messages-icon-size;
  font-size: $p-messages-icon-font-size;
  line-height: $p-messages-icon-size;
}

.ui-messages .ui-messages-close {
  order: 2;
  width: $p-messages-close-size;
  height: $p-messages-close-size;
  line-height: $p-messages-close-size;
  text-align: center;

  &:hover {
    opacity: .5;
  }

  .ui-icon {
    vertical-align: top;
  }
}
