.ui-messages-info, .ui-messages-warn, .ui-messages-error, .ui-messages-fatal {
  display: flex;
  align-items: flex-start;
  padding: ($p-messages-vertical-padding - .1rem) (.5 * $p-messages-horizontal-padding - .1rem);
}

.ui-messages-info-icon, .ui-messages-warn-icon, .ui-messages-error-icon, .ui-messages-fatal-icon {
  width: $p-messages-icon-size;
  height: $p-messages-icon-size;
  font-size: $p-messages-icon-font-size;
  line-height: $p-messages-icon-size;
}

.ui-messages ul {
  flex: 1;
  order: 1;
  align-self: center;
  margin: 0;
  padding: 0 (.5 * $p-messages-horizontal-padding);
  list-style-type: none;
}

.ui-messages ul li {
  padding: 0 0 $p-messages-item-vertical-padding;

  &:last-child {
    padding: 0;
  }
}

.ui-messages .ui-messages-close {
  order: 2;
  width: $p-messages-close-size;
  height: $p-messages-close-size;
  line-height: $p-messages-close-size;
  text-align: center;

  &:hover {
    opacity: .5;
  }

  .ui-icon {
    vertical-align: top;
  }
}
