.ui-overlaypanel {
  position: absolute;
}

.ui-overlaypanel-close {
  position: absolute;
  top: -.5 * $p-overlay-panel-close-size;
  right: -.5 * $p-overlay-panel-close-size;
  width: $p-overlay-panel-close-size;
  height: $p-overlay-panel-close-size;
  line-height: $p-overlay-panel-close-size - .2rem;
  @include border-radius(50%);

  &,
  &:hover {
    text-decoration: none;
  }

  .ui-icon {
    display: block;
    text-align: center;
  }
}

.ui-overlaypanel-mask {
  position: fixed;
  width: 100%;
  height: 100%;
}
