.ui-paginator {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: ($p-paginator-vertical-padding - .1rem) ($p-paginator-horizontal-padding - .1rem);
}

.ui-paginator > * {
  margin-right: $p-paginator-item-horizontal-margin;

  &:last-child {
    margin-right: 0;
  }
}

.ui-paginator.ui-paginator-top {
  border-bottom: 0;
  padding-bottom: $p-paginator-vertical-padding;
}

.ui-paginator.ui-paginator-bottom {
  border-top: 0;
  padding-top: $p-paginator-vertical-padding;
}

.ui-paginator .ui-paginator-pages {
  display: none;
  margin: 0;
  padding: 0 $p-paginator-pages-horizontal-padding;
  text-align: center;

  &:empty {
    display: none;
  }
}

.ui-paginator .ui-paginator-current {
  display: none;
}

.ui-paginator .ui-paginator-page,
.ui-paginator .ui-paginator-next,
.ui-paginator .ui-paginator-last,
.ui-paginator .ui-paginator-first,
.ui-paginator .ui-paginator-prev {
  margin: 0 $p-paginator-button-horizontal-margin;
  padding: 0 ($p-paginator-button-horizontal-padding - .1rem);
  text-decoration: none;
  outline: 0;
  min-width: $p-paginator-button-size;
  height: $p-paginator-button-size;
  white-space: nowrap;
  font-size: $p-paginator-button-font-size;
  line-height: ($p-paginator-button-size - .2rem);
  text-align: center;
  cursor: pointer;
}

.ui-paginator .ui-paginator-rpp-label {
  display: block;
  text-align: right;
  margin-right: 2 * $p-paginator-item-horizontal-margin;
}

.ui-paginator .ui-paginator-rpp-options {
  height: $p-paginator-button-size;
  @include border-radius($p-common-corner-radius);
}

.ui-paginator .ui-paginator-next .ui-icon,
.ui-paginator .ui-paginator-prev .ui-icon,
.ui-paginator .ui-paginator-first .ui-icon,
.ui-paginator .ui-paginator-last .ui-icon {
  font-size: 0;
  line-height: inherit;
  text-align: center;

  &::before {
    font-size: $p-paginator-button-font-size;
  }
}

/**/
@media (min-width: 768px) {

  .ui-paginator .ui-paginator-current {
    display: block;
  }

  .ui-paginator .ui-paginator-pages {
    display: inline-flex;
  }
}
