.ui-panelmenu {
  width: auto;
}

.ui-panelmenu .ui-panelmenu-panel {
  padding: 0;
  margin: 0;
}

.ui-panelmenu .ui-panelmenu-header {
  cursor: pointer;
  position: relative;
  margin: 0;
}

.ui-panelmenu .ui-panelmenu-header a {
  display: block;
  padding: .5em .5em .5em 2.2em;
}

.ui-panelmenu .ui-panelmenu-header .ui-icon {
}

.ui-panelmenu .ui-panelmenu-content {
  border-top: 0;
  position: relative;
  overflow: auto;
}

.ui-panelmenu .ui-menu-parent .ui-menuitem-link-hasicon {
}

.ui-panelmenu .ui-menu-parent > .ui-menuitem-link > .ui-icon {
}

.ui-panelmenu .ui-menu-parent .ui-panelmenu-icon.ui-icon {
}

.ui-panelmenu .ui-menu-parent .ui-menu-list {
}