.ui-panel {
  margin: $p-panel-margin;
}

.ui-panel .ui-panel-titlebar {
  padding: ($p-panel-header-vertical-padding) ($p-panel-header-horizontal-padding - .1rem) ($p-panel-header-vertical-padding - .1rem) ($p-panel-header-horizontal-padding - .1rem);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  @include border-radius-lb(0);
  @include border-radius-rb(0);
}

.ui-panel .ui-panel-title {
}

.ui-panel .ui-panel-titlebar-icon {
}

.ui-panel .ui-panel-titlebar-icon,
.ui-panel .ui-panel-titlebar-icon:hover,
.ui-panel .ui-panel-titlebar-icon:focus {
}

.ui-panel .ui-panel-content {
  border: 0;
  background: none;
}

.ui-panel .ui-panel-footer {
  border-width: 1px 0 0;
  text-align: left;
}

.ui-panel-collapsed-h .ui-panel-titlebar-icon,
.ui-panel-collapsed-h .ui-panel-titlebar-icon:hover,
.ui-panel-collapsed-h .ui-panel-titlebar-icon:focus {
}

.ui-panel.ui-panel-collapsed-h {
}

.ui-panel.ui-panel-collapsed-h .ui-panel-title {
  display: none;
}
