.ui-picklist {
  display: inline-flex;
  max-width: 100%;
}

.ui-picklist .ui-picklist-list-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.ui-picklist .ui-picklist-list {
  flex: 1;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  min-height: 4 * $p-button-height + 3 * $p-toolbar-item-margin;
  min-width: 4 * $p-button-height + 3 * $p-toolbar-item-margin;
}

.ui-picklist .ui-picklist-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 0;
  padding: $p-select-one-listbox-item-vertical-padding $p-select-one-listbox-item-horizontal-padding;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  @include border-radius(0);
}

.ui-picklist .ui-picklist-item > .ui-chkbox:first-child,
.ui-picklist .ui-picklist-item td:first-child > .ui-chkbox {
  margin: 0 $p-checkbox-label-horizontal-padding 0 (-$p-checkbox-padding);
}

.ui-picklist .ui-picklist-buttons {
  align-self: center;
}

.ui-picklist .ui-picklist-buttons-cell {
  display: flex;
  flex-direction: column;
  padding: 0 ($p-toolbar-group-padding - .1rem);
}

.ui-picklist .ui-picklist-buttons-cell .ui-button {
  margin: 0 0 $p-toolbar-item-margin;

  &:last-child {
    margin: 0;
  }
}

.ui-picklist .ui-picklist-buttons.ui-picklist-source-controls .ui-picklist-buttons-cell {
  padding-left: 0;
}

.ui-picklist .ui-picklist-buttons.ui-picklist-target-controls .ui-picklist-buttons-cell {
  padding-right: 0;
}

.ui-picklist .ui-picklist-caption {
  padding: $p-data-table-header-vertical-padding ($p-data-table-header-horizontal-padding - .1rem) ($p-data-table-header-vertical-padding - .1rem);
  border-bottom: 0;
}

.ui-picklist table {
  width: 100%;
  border-collapse: collapse;
}

.ui-picklist .ui-picklist-filter-container {
  position: relative;
  margin: 0 0 $p-data-table-header-vertical-padding;
}

.ui-picklist .ui-picklist-filter.ui-inputfield {
  padding-right: $p-common-input-horizontal-padding + $p-common-input-line-height;
  width: 100%;
}

.ui-picklist .ui-picklist-filter-container .ui-icon {
  position: absolute;
  right: $p-common-input-horizontal-padding + .1rem;
  top: $p-common-input-vertical-padding;
  line-height: $p-common-input-line-height;
  opacity: .7;
}

.ui-picklist-outline {
  outline: 1px dotted;
  z-index: 1;
}

.ui-picklist-list.ui-picklist-source,
.ui-picklist-list.ui-picklist-target {
  outline: 0;
}
