.ui-radiobutton {
  margin: 3px 0;
  width: 16px;
  line-height: 16px;
  display: inline-block;
  vertical-align: middle;
}

.ui-radiobutton .ui-radiobutton-box {
  width: 16px;
  height: 16px;
  line-height: 16px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.ui-radiobutton-icon {
  margin-left: 1px;
}

.ui-radiobutton.ui-radiobutton-native {
  margin: 0;
  padding: 0;
}

.ui-radiobutton.ui-radiobutton-native .ui-helper-hidden-accessible {
  clip: auto;
  position: static !important;
  width: auto;
  height: auto;
  overflow: visible;
  margin: 0;
  padding: 0;
}

.ui-radiobutton.ui-radiobutton-native .ui-radiobutton-box {
  display: none;
}

.ui-radiobutton.ui-radiobutton-native .ui-helper-hidden-accessible input {
  margin: 0;
}
