.ui-radiobutton {
  display: inline-block;
  vertical-align: middle;
  padding: $p-radio-button-padding;
}

.ui-radiobutton-box {
  position: relative;
  width: $p-radio-button-size;
  height: $p-radio-button-size;
  cursor: pointer;
  @include border-radius($p-radio-button-size);
}

.ui-radiobutton-icon.ui-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: (-.5 * $p-radio-button-bullet-size) 0 0 (-.5 * $p-radio-button-bullet-size);
  width: $p-radio-button-bullet-size;
  height: $p-radio-button-bullet-size;
  @include border-radius($p-radio-button-bullet-size);

  &::before {
    display: none;
  }
}
