.ui-rating {
  display: inline-flex;
  flex-wrap: nowrap;
  max-width: 100%;
}

.ui-rating-star,
.ui-rating-cancel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $p-rating-star-width;
  height: $p-rating-star-height;
}

.ui-rating-star a,
.ui-rating-cancel a {
  @include ui-icon;
  cursor: pointer;
  text-decoration: none;
  font-size: $p-rating-star-font-size;
}

.ui-rating-cancel a::before {
  content: $fa-var-ban;
}

.ui-rating-star a::before {
  content: $fa-var-star-o;
}

.ui-rating-star-on a::before {
  content: $fa-var-star;
}
