.ui-selectmanycheckbox {

  td,
  .ui-chkbox {
    vertical-align: top;
  }
}

.ui-selectmanycheckbox label {
  display: block;
  cursor: pointer;
  padding: $p-checkbox-padding (3 * $p-checkbox-label-horizontal-padding) $p-checkbox-padding $p-checkbox-label-horizontal-padding;
  z-index: 1;
  margin-left: $p-checkbox-size + 2 * $p-checkbox-padding;
  margin-top: -($p-checkbox-size + 2 * $p-checkbox-padding);
}

.ui-selectmanycheckbox .ui-selectmanycheckbox-item-group {
  font-weight: bold;
}
