.ui-selectoneradio {

  td,
  .ui-radiobutton {
    vertical-align: top;
  }
}

.ui-selectoneradio label {
  display: block;
  cursor: pointer;
  padding: $p-radio-button-padding (3 * $p-radio-button-label-horizontal-padding) $p-radio-button-padding $p-radio-button-label-horizontal-padding;
  z-index: 1;
  margin-left: $p-radio-button-size + 2 * $p-radio-button-padding;
  margin-top: -($p-radio-button-size + 2 * $p-radio-button-padding);
}
