.ui-selectonemenu {
  display: inline-block;
  position: relative;
  width: auto !important;
  cursor: pointer;
  padding-right: $p-select-one-menu-trigger-width;
  max-width: 100%;
}

.ui-selectonemenu .ui-selectonemenu-trigger {
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
  cursor: pointer;
  width: $p-select-one-menu-trigger-width;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
}

.ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {
  width: 100%;
  line-height: $p-common-input-line-height + 2 * $p-common-input-vertical-padding - .2rem;
  text-align: center;
}

.ui-selectonemenu .ui-selectonemenu-label {
  display: block;
  border: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  text-align: left;
  @include border-radius(0);
}

.ui-selectonemenu label.ui-selectonemenu-label {
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ui-selectonemenu input.ui-selectonemenu-label {
  cursor: default;
}

.ui-selectonemenu-panel {
  position: absolute;
  height: auto;
  overflow: hidden;
}

.ui-selectonemenu-panel .ui-selectonemenu-items-wrapper {
  overflow: auto;
}

.ui-selectonemenu-panel .ui-selectonemenu-item {
  cursor: pointer;
  border: 0;
  font-weight: 400;
  text-align: left;
  white-space: nowrap;
}

.ui-selectonemenu-panel .ui-selectonemenu-list {
  border: 0;
  overflow: hidden;
  @include border-radius(0);
}

.ui-selectonemenu-panel .ui-selectonemenu-item-group,
.ui-selectonemenu-panel li.ui-selectonemenu-item {
  padding: $p-auto-complete-item-vertical-padding $p-auto-complete-item-horizontal-padding;
  @include border-radius(0);
}

.ui-selectonemenu-panel .ui-selectonemenu-item-group {
  padding-left: .5 * $p-auto-complete-item-horizontal-padding;
  font-weight: 700;
}

.ui-selectonemenu-panel .ui-selectonemenu-table {
  border: 0;
  border-collapse: collapse;
  width: 100%;
}

.ui-selectonemenu-panel .ui-selectonemenu-table th,
.ui-selectonemenu-panel .ui-selectonemenu-table td {
  padding: $p-auto-complete-item-vertical-padding 0;

  &:first-child {
    padding-left: $p-auto-complete-item-horizontal-padding;
  }

  &:last-child {
    padding-right: $p-auto-complete-item-horizontal-padding;
  }
}

.ui-selectonemenu-panel .ui-selectonemenu-filter {
  width: 100%;
}

.ui-selectonemenu-panel .ui-selectonemenu-filter-container {
  position: relative;
  margin: 0;
  padding: .4em;
  display: inline-block;
}

.ui-selectonemenu-panel .ui-selectonemenu-filter-container .ui-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}
