.ui-selectonemenu {
  display: inline-block;
  position: relative;
  width: auto !important;
  cursor: pointer;
  padding-right: $p-select-one-menu-trigger-width;
  max-width: 100%;
}

.ui-selectonemenu .ui-selectonemenu-trigger {
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
  cursor: pointer;
  width: $p-select-one-menu-trigger-width;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
}

.ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {
  width: 100%;
  line-height: $p-common-input-line-height + 2 * $p-common-input-vertical-padding - .2rem;
}

.ui-selectonemenu .ui-selectonemenu-label {
  display: block;
  border: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  text-align: left;
  @include border-radius(0);
}

.ui-selectonemenu label.ui-selectonemenu-label {
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ui-selectonemenu input.ui-selectonemenu-label {
  cursor: default;
}

.ui-selectonemenu-panel {
  position: absolute;
  height: auto;
}

.ui-selectonemenu-panel .ui-selectonemenu-items-wrapper {
  overflow: auto;
}

.ui-selectonemenu-panel .ui-selectonemenu-item {
  font-weight: normal;
  cursor: pointer;
}

.ui-selectonemenu-panel .ui-selectonemenu-item-group {
  font-weight: bold;
}

.ui-selectonemenu-panel .ui-selectonemenu-list {
  padding: .4em;
  border: 0 none;
}

.ui-selectonemenu-panel .ui-selectonemenu-list-item {
  border: 0 none;
  margin: 1px 0;
  padding: 3px 5px;
  text-align: left;
  white-space: nowrap;
}

.ui-selectonemenu-panel .ui-selectonemenu-table {
  border-collapse: collapse;
  width: 100%;
}

.ui-selectonemenu-panel .ui-selectonemenu-table td {
  border-color: inherit;
}

.ui-selectonemenu-panel .ui-selectonemenu-table th, .ui-selectonemenu-panel .ui-selectonemenu-table td {
  border-width: 1px;
  border-style: solid;
  padding: 4px 10px 4px 10px;
}

.ui-selectonemenu-panel .ui-selectonemenu-filter {
  width: 85%;
}

.ui-selectonemenu-panel .ui-selectonemenu-filter-container {
  position: relative;
  margin: 0;
  padding: .4em;
  display: inline-block;
}

.ui-selectonemenu-panel .ui-selectonemenu-filter-container .ui-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}
