.ui-selectcheckboxmenu {
  display: inline-block;
  padding-right: $p-select-one-menu-trigger-width;
  position: relative;
  width: auto;
  cursor: pointer;
}

.ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger {
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
  cursor: pointer;
  width: $p-select-one-menu-trigger-width;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;

  .ui-icon {
    width: 100%;
    line-height: $p-common-input-line-height + 2 * $p-common-input-vertical-padding;
    text-align: center;
  }
}

.ui-selectcheckboxmenu .ui-selectcheckboxmenu-label {
  display: block;
  padding: $p-common-input-vertical-padding $p-common-input-horizontal-padding;
  width: auto;
  border: 0;
  line-height: $p-common-input-line-height;
  cursor: pointer;
  @include border-radius-rt(0);
  @include border-radius-rb(0);
}

.ui-selectcheckboxmenu-panel {
  position: absolute;
  overflow: hidden;
}

.ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-items-wrapper {
  overflow: auto;
  position: relative;
}

.ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-list {
  border: 0;
  padding: $p-select-checkbox-menu-panel-padding 0;
}

.ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-list-item {
  display: block;
  position: relative;
  cursor: pointer;
  font-weight: 400;
  margin: 0;
  padding: 0 $p-select-checkbox-menu-panel-padding;
  text-align: left;
}

.ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-list-item .ui-chkbox {
  position: absolute;
}

.ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-list-item label {
  display: block;
  padding: $p-checkbox-padding $p-checkbox-label-horizontal-padding $p-checkbox-padding ($p-checkbox-size + 2 * $p-checkbox-padding + $p-checkbox-label-horizontal-padding);
  cursor: pointer;
}

.ui-selectcheckboxmenu-header {
  display: flex;
  align-items: center;
  position: relative;
  padding: $p-select-checkbox-menu-panel-padding;
  border-width: 0 0 1px;
  @include border-radius(0);

  &::after {
    display: none;
  }
}

.ui-selectcheckboxmenu-header .ui-selectcheckboxmenu-filter-container {
  position: relative;
  flex: 1;
  margin: 0 $p-checkbox-label-horizontal-padding;
}

.ui-selectcheckboxmenu-header .ui-selectcheckboxmenu-filter-container .ui-inputfield {
  width: 100%;
  padding-right: $p-common-input-horizontal-padding + $p-common-input-line-height;
}

.ui-selectcheckboxmenu-header .ui-selectcheckboxmenu-filter-container .ui-icon {
  position: absolute;
  right: $p-common-input-horizontal-padding;
  top: $p-common-input-vertical-padding;
  line-height: $p-common-input-line-height;
  opacity: .7;
}

.ui-selectcheckboxmenu-header .ui-selectcheckboxmenu-close {
  display: block;
  width: $p-select-checkbox-menu-filter-close-size;
  height: $p-select-checkbox-menu-filter-close-size;
  line-height: $p-select-checkbox-menu-filter-close-size - .2rem;
  border: 1px solid;
  text-decoration: none;

  .ui-icon {
    display: block;
    text-align: center;
  }
}

.ui-selectcheckboxmenu-header a.ui-selectcheckboxmenu-all,
.ui-selectcheckboxmenu-header a.ui-selectcheckboxmenu-none {
  display: block;
}

.ui-selectcheckboxmenu-multiple-container {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
}

.ui-selectcheckboxmenu-multiple-container.ui-inputfield {
  display: block;
  border: 0;
  min-width: 5 * $p-common-input-line-height;
  min-height: $p-common-input-line-height + 2 * $p-common-input-vertical-padding - .2rem;
  padding: ($p-common-input-vertical-padding - .2rem) ($p-common-input-horizontal-padding - $p-select-checkbox-menu-token-margin - .1rem) ($p-common-input-vertical-padding - $p-select-checkbox-menu-token-margin - .2rem) ($p-common-input-horizontal-padding - .2rem);
  @include border-radius-rt(0);
  @include border-radius-rb(0);
}

.ui-selectcheckboxmenu-token {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 0 $p-select-checkbox-menu-token-margin $p-select-checkbox-menu-token-margin 0;
  overflow: hidden;
  cursor: default;
  white-space: nowrap;
}

.ui-selectcheckboxmenu-token-label {
  display: block;
  padding: 0 $p-select-checkbox-menu-token-horizontal-padding 0 (.5 * $p-select-checkbox-menu-token-horizontal-padding + $p-select-checkbox-menu-token-icon-width);
  font-size: $p-select-checkbox-menu-token-font-size;
}

.ui-selectcheckboxmenu-token-icon {
  display: block;
  position: absolute;
  cursor: pointer;
  width: $p-select-checkbox-menu-token-icon-width;
  text-align: center;
}

.ui-selectcheckboxmenu-input-token {
  list-style-type: none;
  margin: 0;
}

.ui-selectcheckboxmenu-input-token input {
  border: 0;
}
