.ui-selectonelistbox {
  display: inline-block;
  padding: 0;
  overflow: hidden;
}

.ui-selectlistbox-listcontainer {
  overflow: auto;
}

.ui-state-disabled .ui-selectlistbox-listcontainer {
  overflow: hidden;
}

.ui-selectlistbox-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.ui-selectlistbox-item {
  border: 0;
  cursor: pointer;
  @include border-radius(0);
}

li.ui-selectlistbox-item {
  padding: $p-select-one-listbox-item-vertical-padding $p-select-one-listbox-item-horizontal-padding;
}

table.ui-selectlistbox-list {
  width: 100%;
}

tr.ui-selectlistbox-item td {
  padding: $p-select-one-listbox-item-vertical-padding 0;

  &:first-child {
    padding-left: $p-select-one-listbox-item-horizontal-padding;
  }

  &:last-child {
    padding-right: $p-select-one-listbox-item-horizontal-padding;
  }
}

.ui-selectlistbox-filter-container {
  position: relative;
  padding: ($p-select-one-listbox-filter-padding - .1rem);
  border-bottom: 1px solid;
}

.ui-selectlistbox-filter.ui-inputfield {
  padding-right: $p-common-input-horizontal-padding + $p-common-input-line-height;
  width: 100%;
}

.ui-selectlistbox-filter-container .ui-icon {
  position: absolute;
  right: $p-select-one-listbox-filter-padding;
  text-align: center;
  width: $p-common-input-horizontal-padding + $p-common-input-line-height;
  line-height: 2 * $p-common-input-vertical-padding + $p-common-input-line-height;
  opacity: .5;
}
