.ui-slidemenu .ui-slidemenu-wrapper {
  position: relative;
}

.ui-slidemenu .ui-slidemenu-content {
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

.ui-slidemenu .ui-menu-list {
  position: absolute;
  top: 0;
}

.ui-slidemenu .ui-menu-parent {
  position: static;
}

.ui-slidemenu .ui-menu-child {
  border: 0 none;
  background: none;
  @include box-shadow(none);
}

.ui-slidemenu-backward {
  position: absolute;
  left: -1px;
  bottom: -1px;
  right: -1px;
  padding: ($p-menu-item-vertical-padding - .1rem) ($p-menu-item-horizontal-padding - .1rem) ($p-menu-item-vertical-padding - .1rem) ($p-menu-item-horizontal-padding + $p-menu-item-icon-width - .1rem);
  cursor: pointer;
  display: none;
  @include border-radius-lt(0);
  @include border-radius-rt(0);

  &::after {
    display: none;
  }

  .ui-icon {
    position: absolute;
    left: $p-menu-item-horizontal-padding;
  }
}
