.ui-slider {
  position: relative;
}

.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: $p-slider-handle-size;
  height: $p-slider-handle-size;
  cursor: default;
}

.ui-slider .ui-slider-range {
  display: block;
  position: absolute;
  z-index: 1;
  border: 0;
}

.ui-slider-horizontal {
  width: auto !important;
  height: $p-slider-bus-size;
}

.ui-slider-horizontal .ui-slider-handle {
  margin-top: -1px;
  margin-left: -.5 * $p-slider-handle-size;
  top: -.5 * ($p-slider-handle-size - $p-slider-bus-size);
}

.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}

.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}

.ui-slider-vertical {
  width: $p-slider-bus-size;
  height: $p-slider-vertical-default-height;
}

.ui-slider-vertical .ui-slider-handle {
  margin-left: -1px;
  margin-bottom: -.5 * $p-slider-handle-size;
  left: -.5 * ($p-slider-handle-size - $p-slider-bus-size);
}

.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 100%;
}

.ui-slider-vertical .ui-slider-range-min {
  bottom: 0;
}

.ui-slider-vertical .ui-slider-range-max {
  top: 0;
}
