.ui-spinner {
  display: inline-block;
  position: relative;
  padding-right: $p-common-input-line-height + 2 * $p-common-input-vertical-padding;;
}

.ui-spinner-input {
  border-right: 0;
  vertical-align: top;
  text-align: right;
  @include border-radius-rt(0);
  @include border-radius-rb(0);
}

.ui-spinner-button {
  cursor: pointer;
  position: absolute;
  right: 0;
  width: $p-common-input-line-height + 2 * $p-common-input-vertical-padding;
  height: .5 * $p-common-input-line-height + $p-common-input-vertical-padding;
  margin: 0;
  padding: 0;
  min-width: 0;
  line-height: .5 * $p-common-input-line-height + $p-common-input-vertical-padding - .2rem;
  z-index: 100;
}

.ui-spinner-button.ui-button .ui-icon {
  position: static;
  width: 100%;
  text-align: center;
}

.ui-spinner-up {
  top: 0;
  border-bottom: 0;
}

.ui-spinner-down {
  bottom: 0;
}

.ui-spinner-input::-ms-clear {
  display: none;
}
