.ui-tabmenu.ui-widget-content {
  border-width: 0 0 1px;
  background: none;
  @include border-radius(0);
}

.ui-tabmenu .ui-tabmenu-nav {
  display: inline-flex;
  flex-wrap: nowrap;
  margin: 0;
  border: 0;
  background: none;
  list-style-type: none;
}

.ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0;
  white-space: nowrap;
  border-bottom: 0;
  cursor: pointer;
}

.ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a {
  display: block;
  padding: ($p-tab-view-header-vertical-padding - .1rem) ($p-tab-view-header-horizontal-padding - .1rem);
  text-decoration: none;
  outline: 0;
}

.ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem-hasicon a {
  padding-left: ($p-tab-view-header-horizontal-padding + $p-menu-item-icon-width - .1rem)
}

.ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem .ui-menuitem-icon {
  cursor: pointer;
  left: $p-tab-view-header-horizontal-padding;
  top: $p-tab-view-header-vertical-padding - .1rem;
}
