.ui-tabs {
  display: flex;
  align-items: flex-start;
  border: 0;
}

.ui-tabs .ui-tabs-nav {
  display: inline-flex;
  flex-wrap: nowrap;
  margin: 0;
  border: 0;
  background: none;
  list-style-type: none;
}

.ui-tabs .ui-tabs-nav li {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0;
  white-space: nowrap;
}

.ui-tabs .ui-tabs-nav li a {
  display: block;
  padding: .8rem 1.1rem;
  text-decoration: none;
  outline: 0;
  cursor: inherit;
}

.ui-tabs .ui-tabs-nav li .ui-icon {
  padding: .8rem;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected,
.ui-tabs .ui-tabs-nav li.ui-state-processing {
  cursor: default;
}

.ui-tabs > .ui-tabs-panels {
  border: 1px solid;
}

.ui-tabs .ui-tabs-panel {
  border: 0;
}

.ui-tabs.ui-tabs-left {
  flex-direction: row;
}

.ui-tabs.ui-tabs-right {
  flex-direction: row-reverse;
}

.ui-tabs.ui-tabs-top,
.ui-tabs.ui-tabs-bottom {
  flex-direction: column;
}

.ui-tabs.ui-tabs-left .ui-tabs-nav,
.ui-tabs.ui-tabs-right .ui-tabs-nav {
  flex-direction: column;
}

.ui-tabs.ui-tabs-top > .ui-tabs-nav,
.ui-tabs.ui-tabs-bottom > .ui-tabs-nav {
  max-width: 100%;
}

.ui-tabs > .ui-tabs-panels {
  align-self: stretch;
}

.ui-tabs.ui-tabs-left > .ui-tabs-panels {
  margin-left: -1px;
}

.ui-tabs.ui-tabs-right > .ui-tabs-nav {
  margin-left: -1px;
}

.ui-tabs.ui-tabs-top > .ui-tabs-panels {
  margin-top: -1px;
}

.ui-tabs.ui-tabs-bottom > .ui-tabs-nav {
  margin-top: -1px;
}

.ui-tabs-scrollable .ui-tabs-nav {
  width: 9999rem;
}

.ui-tabs-scrollable .ui-tabs-navscroller {
  display: flex;
  overflow: hidden;
}

.ui-tabs-scrollable .ui-tabs-navscroller-btn {
  cursor: pointer;
  display: none;
}

.ui-tabs-scrollable .ui-tabs-navscroller-btn-left {
}

.ui-tabs-scrollable .ui-tabs-nav {
}

.ui-tabs-scrollable .ui-tabs-navscroller-btn-right {
}

.ui-tabs-scrollable .ui-tabs-navscroller-btn-left .ui-icon,
.ui-tabs-scrollable .ui-tabs-navscroller-btn-right .ui-icon {
}

.ui-tabs-outline {
  outline: 1px dotted;
  z-index: 1;
}

.ui-tabs-rtl {
  direction: rtl;
}
