.ui-tagcloud {
  display: inline-block;
  width: $p-tag-cloud-width;
}

.ui-tagcloud ul {
  margin: 0;
  padding: $p-tag-cloud-padding - .1rem;
  text-align: center;
  list-style: none;
}

.ui-tagcloud li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.ui-tagcloud li a {
  padding: 0 $p-tag-cloud-item-horizontal-padding;
  text-decoration: none;

  &.ui-state-hover {
    border: 0;
  }
}

.ui-tagcloud-strength-1 {
  font-size: 100%;
}

.ui-tagcloud-strength-2 {
  font-size: 120%;
}

.ui-tagcloud-strength-3 {
  font-size: 140%;
}

.ui-tagcloud-strength-4 {
  font-size: 160%;
}

.ui-tagcloud-strength-5 {
  font-size: 180%;
}
