.ui-toolbar {
  display: flex;

  &::after {
    display: none;
  }
}

.ui-toolbar,
.ui-toolbar-group-left,
.ui-toolbar-group-right {
  align-items: center;
  flex-wrap: nowrap;
}

.ui-toolbar-group-left,
.ui-toolbar-group-right {
  display: inline-flex;
  padding: $p-toolbar-group-padding - .1rem;

  > * {
    margin-right: $p-toolbar-item-margin;
  }
}

.ui-toolbar-group-right:first-child,
.ui-toolbar-group-left + .ui-toolbar-group-right {
  margin-left: auto;
}

.ui-toolbar .ui-separator {
  width: 3 * $p-toolbar-item-separator-dot-size;
  height: 9 * $p-toolbar-item-separator-dot-size;
  margin: 0 (2 * $p-toolbar-item-margin) 0 $p-toolbar-item-margin;
  border: 0;
  border-left: $p-toolbar-item-separator-dot-size dotted;
  border-right: $p-toolbar-item-separator-dot-size dotted;
  @include border-radius(0);
}
