.ui-wizard {
  border-color: $p-common-widget-content-border-color;
  background: $p-common-widget-content-bg;
  color: $p-common-widget-content-color;
  @include z-1;
}

.ui-wizard-navbar {
  border-color: $p-common-widget-header-border-color;
  background: $p-common-widget-header-bg;
  color: $p-common-widget-header-color;
}
