/* fixy primefaces */
.ui-outputlabel-rfi {
  display: none;
}

.ui-selectonemenu-panel .ui-selectonemenu-table td,
.ui-selectonemenu-panel .ui-selectonemenu-table tr {
  border: 0;
}

/**/
.sedn-input-cell .ui-inputtext,
.sedn-input-cell .ui-inputtextarea,
.sedn-input-cell .ui-password,
.sedn-input-cell .ui-inputmask,
.sedn-input-cell .ui-selectonemenu {
  width: 100% !important;
}

.sedn-input-cell .ui-calendar {
  display: block;
}

.sedn-input-cell .ui-calendar > .ui-inputfield {
  width: 100%;
}

/**/
.key {
  background: #fafafa;
  font-weight: bold;
  width: 250px;
}

.index {
  text-align: right;
  width: 40px;
}

.n {
  text-align: right;
  width: 80px;
}

.bool {
  width: 80px;
}

td.number {
  text-align: right;
}
