.ui-panelgrid-header td.sedn-szczegoly-ewaluacji-zdarzenia {

  &-status-col {
    width: bl(24);
  }

  &-ewaluator-col {
    width: bl(35);
  }

  &-typ-zmiany-col {
    width: bl(15);
  }

  &-wartosc-col {
    width: bl(14);
  }
}
