.sedn-zdarzenie-details-field {

  &-label {
    font-weight: $_font-weight-bold;
    width: $sedn-zdarzenie-details-field-label-width;
  }

  &.TABLE .sedn-zdarzenie-details-field-content {
    padding: 0;

    .ui-datatable {
      margin: -1px;
    }
  }

  &.LIST .sedn-zdarzenie-details-field-content {

    .ui-datalist,
    ul.ui-datalist-data {
      margin: 0;
    }

    .ui-datalist-content {
      border: 0;
    }

    .ui-datalist-empty-message {
      padding: 0;
    }
  }

  &.PANEL .sedn-zdarzenie-details-field-content {
    padding: 0;

    .ui-accordion {
      margin: -1px;
    }

    .ui-accordion .ui-accordion-header {
      @include border-radius(0);
    }

    .ui-accordion .ui-datalist {
      margin: 0;
    }

    .ui-accordion .ui-datalist-content {
      border: 0;
    }

    .ui-accordion dl.ui-datalist-data {
      margin: 0;
      padding: (2 * $p-panel-grid-cell-vertical-padding - .1rem) ($p-panel-grid-cell-horizontal-padding - .1rem);

      dd,
      dt {
        margin: 0;
      }

      dt {
        font-weight: $_font-weight-bold;
      }

      dd {
        margin-bottom: 2 * $p-panel-grid-cell-vertical-padding;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.key {
  @extend .sedn-zdarzenie-details-field-label;
}
