#sedn-logged-sidebar-menu {
  border: 0;
  width: auto;
  @include border-radius(0);

  .ui-widget-header h3 {
    font-weight: inherit;
  }

  .ui-submenu-child {
    display: none;
  }

  .ui-menuitem-text {
    white-space: normal;
  }

  .ui-submenu-child .ui-menuitem-text {
    padding-left: $p-menu-item-horizontal-padding;
  }

  .ui-state-highlight {
    font-weight: 700;
  }
}

#sedn-menu-item-zdarzenia {

  .ui-icon-triangle-1-s::before,
  .ui-icon-triangle-1-e::before {
    content: $fa-var-flag;
  }
}

#sedn-menu-item-anj {

  .ui-icon-triangle-1-s::before,
  .ui-icon-triangle-1-e::before {
    content: $fa-var-pencil-square-o;
  }
}

#sedn-menu-item-wniosek {

  .ui-icon-triangle-1-s::before,
  .ui-icon-triangle-1-e::before {
    content: $fa-var-bolt;
  }
}

#sedn-menu-item-admin {

  .ui-icon-triangle-1-s::before,
  .ui-icon-triangle-1-e::before {
    content: $fa-var-wrench;
  }
}