#sedn-logged-footer {
  display: block;
  border-top: 1px solid;
  @include prevent-collapsing-margins;
}

#sedn-logged-footer-version {
  font-family: $sedn-logged-footer-version-font-family;
  font-size: $sedn-logged-footer-version-font-size;
  text-align: center;
}
