#sedn-logged-sidebar-menu {
  border: 0;
  width: auto;
  @include border-radius(0);

  .ui-menuitem-link {
    padding-left: 1.5 * $p-menu-item-horizontal-padding + $p-menu-item-icon-width;
  }

  .ui-menuitem-text {
    white-space: normal;
  }

  .ui-menu-list .ui-menu-list .ui-menu-list {

    .ui-menuitem-icon {
      margin-left: $p-menu-item-horizontal-padding;
    }

    .ui-menuitem-text {
      border-left: $p-menu-item-horizontal-padding solid transparent;
    }
  }

  > .ui-menu-list > .ui-menuitem > .ui-menuitem-link {
    border-top: 1px solid;
    padding-bottom: 1.5 * $p-menu-item-vertical-padding;
    padding-top: 1.5 * $p-menu-item-vertical-padding - .1rem;
    font-size: $_font-size-large;

    .ui-icon {
      margin-top: .5 * $p-menu-item-vertical-padding - .1rem;
    }
  }

  > .ui-menu-list > .ui-menuitem > .ui-menuchild > .ui-menuitem {
    border-bottom: 1px solid;

    > .ui-menuitem-link {
      padding-bottom: $p-menu-item-vertical-padding - .1rem;
    }

    &:last-child {
      border-bottom: 0;

      > .ui-menuitem-link {
        padding-bottom: $p-menu-item-vertical-padding;
      }
    }

    > .ui-menuchild > .ui-menuitem {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: ($p-menu-item-horizontal-padding + $p-menu-item-icon-width);
        right: 0;
        height: 1px;
      }
    }
  }
}
