.ui-icon {
  @include fa-icon;
  text-align: center;

  &-carat-2-n-s::before {
    content: $fa-var-sort;
  }

  &-triangle-1-n::before {
    content: $fa-var-caret-up;
  }

  &-triangle-1-s::before {
    content: $fa-var-caret-down;
  }

  &-triangle-1-w::before,
  &-carat-1-w::before,
  &-circle-triangle-w::before {
    content: $fa-var-caret-left;
  }

  &-triangle-1-e::before,
  &-carat-1-e::before,
  &-circle-triangle-e::before {
    content: $fa-var-caret-right;
  }

  &-search::before {
    content: $fa-var-search;
  }

  &-seek-first::before {
    content: $fa-var-fast-backward;
  }

  &-seek-prev::before {
    content: $fa-var-backward;
  }

  &-seek-next::before {
    content: $fa-var-forward;
  }

  &-seek-end::before {
    content: $fa-var-fast-forward;
  }

  &-check::before {
    content: $fa-var-check;
  }

  &-close::before {
    content: $fa-var-close;
  }

  &-plusthick::before {
    content: $fa-var-plus;
  }

  &-minus::before {
    content: $fa-var-minus;
  }

  &-home::before {
    content: $fa-var-home;
  }

  &-cancel::before {
    content: $fa-var-ban;
  }
}
