.ui-overlay-visible {
  visibility: visible;
}

.ui-overlay-visible * {
  visibility: visible !important;
}

.ui-overlay-hidden {
  visibility: hidden;
}

.ui-overlay-hidden * {
  visibility: hidden !important;
}

.ui-overlay-visible table {
  *border-collapse: collapse !important;
}

.ui-overlay-hidden table {
  *border-collapse: separate !important;
}

.ui-widget-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
