.ui-state-default {
  border-color: #d6d6d6;
  background: #fff;
  color: #555;
}

.ui-state-hover {
  border-color: #c0c0c0;
  background: #eee;
  color: #212121;
}

.ui-state-focus {
  border-color: #c0c0c0;
  background: #eee;
  color: #212121;
}

.ui-state-active {
  border-color: #bebebe;
  background: #d6d6d6;
  color: #212121;
}

.ui-state-highlight {
  border-color: #156090;
  background: #186ba0;
  color: #fff;
}

.ui-state-error {
}
