.ui-state-default,
.ui-state-hover,
.ui-state-focus,
.ui-state-active,
.ui-state-highlight,
.ui-state-error {
  border: 1px solid;
}

.ui-state-focus,
.ui-state-focus * {
  outline: 0 !important;
}

.ui-state-disabled {

  &,
  * {
    cursor: not-allowed !important;
  }
}
