.ui-state-default,
.ui-state-hover,
.ui-state-focus,
.ui-state-active,
.ui-state-highlight,
.ui-state-error {
  border: 1px solid;
}

.ui-state-focus,
.ui-state-focus * {
  outline: 0 !important;
}

.ui-state-disabled {
  opacity: $p-common-state-disabled-opacity;

  &,
  * {
    cursor: not-allowed !important;
  }
}

.ui-state-disabled .ui-state-disabled {
  opacity: 1;
}
