#sedn-appbar {
  display: flex;
  position: fixed;
  z-index: $sedn-appbar-zindex;
  left: 0;
  top: 0;
  right: 0;
  min-width: $body-min-width;
  min-height: $sedn-appbar-height;
  border-left: $sedn-sidebar-width solid transparent;

  + #sedn-sidebar + #sedn-content,
  + #sedn-content {
    border-top-width: $sedn-appbar-height;
  }
}

body.ui-dialog-opened #sedn-appbar {
  overflow-x: hidden;
  overflow-y: scroll;
}

#sedn-appbar-title {

  &:empty {
    display: none;
  }
}

#sedn-appbar-actions {
  display: flex;
  margin-left: auto;

  a {
    padding: 0 $sedn-appbar-actions-link-padding-horizontal;
    line-height: $sedn-appbar-height;
    white-space: nowrap;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;

    &:focus {
      outline: 0;
    }
  }
}
