#sedn-status-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000000000;

  .spinner {
    display: flex;
    justify-content: space-around;
    width: $sedn-status-indicator-size;
    height: $sedn-status-indicator-size;
  }

  .spinner > span {
    flex: 1;
    margin: 0 $sedn-status-indicator-bar-spacing;
    @include animation(sk-stretchdelay 1.2s infinite ease-in-out);
  }

  .spinner .rect2 {
    @include animation-delay(-1.1s);
  }

  .spinner .rect3 {
    @include animation-delay(-1.0s);
  }

  .spinner .rect4 {
    @include animation-delay(-0.9s);
  }

  .spinner .rect5 {
    @include animation-delay(-0.8s);
  }
}

@-webkit-keyframes sk-stretchdelay {

  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4)
  }

  20% {
    -webkit-transform: scaleY(1.0)
  }
}

@keyframes sk-stretchdelay {

  0%, 40%, 100% {
    @include transform(scaleY(0.4));
  }

  20% {
    @include transform(scaleY(1.0));
  }
}
