#sedn-cookies {
  background: $sedn-cookies-bg;
  color: $sedn-cookies-color;
}

#sedn-cookies-info a {
  color: $sedn-cookies-more-link-color;
}

#sedn-cookies-close-link {
  color: $sedn-cookies-color;
}
