.sedn-wynik-ewaluacji-points-panelgrid tbody tr:first-child .ui-panelgrid-cell {
  background: $p-common-widget-header-bg;
  border-color: $p-common-widget-header-border-color;
  color: $p-common-widget-header-color;
}
