/**/
@mixin link-look--theme {
  color: $link-color-default;

  &:hover {
    color: $link-color-hover;
  }
}

/**/
@mixin no-link-look--theme {
  color: inherit;

  &:hover {
    color: inherit;
  }
}

/**/
@mixin d-1($color: #000) {
  @include box-shadow(0 0 2px 1px rgba($color, .13) inset);
}

/**/
@mixin z-0 {
  @include box-shadow(none);
}

/**/
@mixin z-1($color: #000) {
  @include box-shadow(0 1px 3px 1px rgba($color, .13));
}

/**/
@mixin z-2($color: #000) {
  @include box-shadow(0 1px 8px 0 rgba($color, .13), 0 3px 4px 0 rgba($color, .13), 0 3px 3px -2px rgba($color, .13));
}

/**/
@mixin z-3($color: #000) {
  @include box-shadow(0 3px 5px -1px rgba($color, .13), 0 6px 10px 0 rgba($color, .13), 0 1px 18px 0 rgba($color, .13));
}
