/**/
@mixin link-look--base {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

/**/
@mixin no-link-look--base {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}
