/**/
@mixin screen-reader-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

/**/
@mixin prevent-collapsing-margins {

  &::before,
  &::after {
    content: "";
    display: table;
  }
}

/**/
@mixin px-width-class($width) {

  ._#{$width}px, td._#{$width}px, th._#{$width}px {
    width: $width * .1rem;
  }
}

/**/
@mixin pct-width-class($width) {
  ._#{$width}pct, td._#{$width}pct, th._#{$width}pct {
    width: $width * 1%;
  }
}

/**/
@mixin border-radius($radius) {
  border-radius: $radius;
}

/**/
@mixin border-radius-lt($radius) {
  border-top-left-radius: $radius;
}

/**/
@mixin border-radius-rt($radius) {
  border-top-right-radius: $radius;
}

/**/
@mixin border-radius-lb($radius) {
  border-bottom-left-radius: $radius;
}

/**/
@mixin border-radius-rb($radius) {
  border-bottom-right-radius: $radius;
}

/**/
@mixin transition($transition...) {
  transition: $transition;
}

/**/
@mixin box-shadow($box-shadow...) {
  box-shadow: $box-shadow;
}

/**/
@mixin backface-visibility($backface-visibility) {
  backface-visibility: $backface-visibility;
}

/**/
@mixin box-sizing($box-sizing) {
  box-sizing: $box-sizing;
}

/**/
@mixin user-select($user-select) {
  user-select: $user-select;
}

@mixin filter($filter...) {
  filter: $filter;
}

/**/
@mixin background-clip($background-clip) {
  background-clip: $background-clip;
}

/**/
@mixin background-size($background-size...) {
  background-size: $background-size;
}

/**/
@mixin background-gradient($background-gradient...) {
  background-image: linear-gradient($background-gradient);
}

/**/
@mixin transform($transform...) {
  transform: $transform;
}

/**/
@mixin display-flex {
  display: flex;
}

/**/
@mixin keyframes($name) {

  @-webkit-keyframes #{$name} {
    @content;
  }

  @keyframes #{$name} {
    @content;
  }
}

/**/
@mixin animation($animation...) {
  animation: $animation;
}

/**/
@mixin animation-delay($animation-delay) {
  animation-delay: $animation-delay;
}

/**/
@mixin moz-only {
  @media screen and (-moz-images-in-menus: 0) {
    @content;
  }
}

/**/
@mixin webkit-only {
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    @content;
  }
}
