/**/
@mixin screen-reader-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

/**/
@mixin prevent-collapsing-margins {

  &::before,
  &::after {
    content: "";
    display: table;
  }
}

/**/
@mixin px-width-class($width) {

  ._#{$width}px, td._#{$width}px, th._#{$width}px {
    width: $width * .1rem;
  }
}

/**/
@mixin pct-width-class($width) {
  ._#{$width}pct, td._#{$width}pct, th._#{$width}pct {
    width: $width * 1%;
  }
}

/**/
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

/**/
@mixin border-radius-lt($radius) {
  -webkit-border-top-left-radius: $radius;
  -moz-border-radius-topleft: $radius;
  border-top-left-radius: $radius;
}

/**/
@mixin border-radius-rt($radius) {
  -webkit-border-top-right-radius: $radius;
  -moz-border-radius-topright: $radius;
  border-top-right-radius: $radius;
}

/**/
@mixin border-radius-lb($radius) {
  -webkit-border-bottom-left-radius: $radius;
  -moz-border-radius-bottomleft: $radius;
  border-bottom-left-radius: $radius;
}

/**/
@mixin border-radius-rb($radius) {
  -webkit-border-bottom-right-radius: $radius;
  -moz-border-radius-bottomright: $radius;
  border-bottom-right-radius: $radius;
}

/**/
@mixin transition($transition...) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

/**/
@mixin box-shadow($box-shadow...) {
  -webkit-box-shadow: $box-shadow;
  -moz-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
}

/**/
@mixin backface-visibility($backface-visibility) {
  -webkit-backface-visibility: $backface-visibility;
  backface-visibility: $backface-visibility;
}

/**/
@mixin box-sizing($box-sizing) {
  -webkit-box-sizing: $box-sizing;
  -moz-box-sizing: $box-sizing;
  box-sizing: $box-sizing;
}

/**/
@mixin user-select($user-select) {
  -khtml-user-select: $user-select;
  -webkit-user-select: $user-select;
  -ms-user-select: $user-select;
  -moz-user-select: $user-select;
  user-select: $user-select;
}

@mixin filter($filter...) {
  -webkit-filter: $filter;
  -moz-filter: $filter;
  -ms-filter: $filter;
  -o-filter: $filter;
  filter: $filter;
}

/**/
@mixin background-clip($background-clip) {
  -webkit-background-clip: $background-clip;
  -moz-background-clip: $background-clip;
  background-clip: $background-clip;
}

/**/
@mixin background-size($background-size...) {
  -webkit-background-size: $background-size;
  -moz-background-size: $background-size;
  background-size: $background-size;
}

/**/
@mixin background-gradient($background-gradient...) {
  background-image: -webkit-linear-gradient($background-gradient);
  background-image: -o-linear-gradient($background-gradient);
  background-image: linear-gradient($background-gradient);
}

/**/
@mixin transform($transform...) {
  -ms-transform: $transform;
  transform: $transform;
}

/**/
@mixin display-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

/**/
@mixin keyframes($name) {

  @-webkit-keyframes #{$name} {
    @content;
  }

  @keyframes #{$name} {
    @content;
  }
}

/**/
@mixin animation($animation...) {
  -webkit-animation: $animation;
  -moz-animation: $animation;
  -o-animation: $animation;
  animation: $animation;
}

/**/
@mixin animation-delay($animation-delay) {
  -webkit-animation-delay: $animation-delay;
  -moz-animation-delay: $animation-delay;
  -o-animation-delay: $animation-delay;
  animation-delay: $animation-delay;
}

/**/
@mixin moz-only {
  @media screen and (-moz-images-in-menus: 0) {
    @content;
  }
}

/**/
@mixin webkit-only {
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    @content;
  }
}
