/**/
@mixin d-1($color: $_shadow-color, $alpha: .13) {
  @include box-shadow(0 0 2px 1px rgba($color, $alpha) inset);
}

/**/
@mixin z-0 {
  @include box-shadow(none);
}

/**/
@mixin z-1($color: $_shadow-color) {
  @include box-shadow(0 1px 2px rgba($color, .13));
}

/**/
@mixin z-2($color: $_shadow-color) {
  @include box-shadow(0 1px 8px 0 rgba($color, .13), 0 3px 4px 0 rgba($color, .13), 0 3px 3px -2px rgba($color, .13));
}

/**/
@mixin z-3($color: $_shadow-color) {
  @include box-shadow(0 3px 5px -1px rgba($color, .13), 0 6px 10px 0 rgba($color, .13), 0 1px 18px 0 rgba($color, .13));
}

/**/
@mixin ui-button--theme($default-bg: $p-common-state-default-bg,
                        $default-border-color: $p-common-state-default-border-color,
                        $default-color: $p-common-state-default-color,
                        $hover-bg: $p-common-state-hover-bg,
                        $hover-border-color: $p-common-state-hover-border-color,
                        $hover-color: $p-common-state-hover-color,
                        $active-bg: $p-common-state-active-bg,
                        $active-border-color: $p-common-state-active-border-color,
                        $active-color: $p-common-state-active-color,
                        $focus-bg: $p-common-state-focus-bg,
                        $focus-border-color: $p-common-state-focus-border-color,
                        $focus-color: $p-common-state-focus-color) {

  &.ui-state-default {
    @include background-gradient(to bottom, $default-bg 0, darken($default-bg, 5%) 100%);
    @if $default-border-color != $p-common-state-default-border-color {
      border-color: $default-border-color;
    }
    @if $default-color != $p-common-state-default-color {
      color: $default-color;
    }
  }

  &.ui-state-hover {
    @include background-gradient(to bottom, $hover-bg 0, darken($hover-bg, 5%) 100%);
    @if $hover-border-color != $p-common-state-hover-border-color {
      border-color: $hover-border-color;
    }
    @if $hover-color != $p-common-state-hover-color {
      color: $hover-color;
    }
  }

  &.ui-state-active {
    @include background-gradient(to bottom, $active-bg 0, darken($active-bg, 5%) 100%);
    @if $active-border-color != $p-common-state-active-border-color {
      border-color: $active-border-color;
    }
    @if $active-color != $p-common-state-active-color {
      color: $active-color;
    }
  }

  &.ui-state-focus {
    @include background-gradient(to bottom, $focus-bg 0, darken($focus-bg, 5%) 100%);
    @if $focus-border-color != $p-common-state-focus-border-color {
      border-color: $focus-border-color;
    }
    @if $focus-color != $p-common-state-focus-color {
      color: $focus-color;
    }
  }
}
