//----------------------------------------------------------------------------------------------------------------------

// <a>
$link-color-default: #199577;
$link-color-hover: #1aa182;
$link-color-visited: #199577;

// <body>
$body-color: #222;
$body-bg: #f5f5f5;

// <pre>, <code>
$code-bg: #424242;
$code-color: #e0e0e0;

// <fieldset>
$fieldset-border-color: #bdbdbd;

//----------------------------------------------------------------------------------------------------------------------

/**
 * p:* commons
 */
$p-common-widget-header-border-color: #d9d9d9;
$p-common-widget-header-bg: #f6f7f9;
$p-common-widget-header-color: #1b1d1f;

$p-common-widget-content-border-color: #d5d5d5;
$p-common-widget-content-bg: #fff;
$p-common-widget-content-color: #222;

$p-common-state-default-border-color: #d6d6d6;
$p-common-state-default-bg: #fff;
$p-common-state-default-color: #555;

$p-common-state-hover-border-color: #c0c0c0;
$p-common-state-hover-bg: #eee;
$p-common-state-hover-color: #212121;

$p-common-state-focus-border-color: #c0c0c0;
$p-common-state-focus-bg: #eee;
$p-common-state-focus-color: #212121;

$p-common-state-active-border-color: #bebebe;
$p-common-state-active-bg: #d6d6d6;
$p-common-state-active-color: #212121;

$p-common-state-highlight-border-color: #1c9577;
$p-common-state-highlight-bg: #1db394;
$p-common-state-highlight-color: #fff;

$p-common-overlay-bg: rgba(#000, .5);

$p-common-messages-info-color: #3a87ad;
$p-common-messages-info-bg: #d9edf7;
$p-common-messages-info-border-color: #bce8f1;

$p-common-messages-warn-color: #c09853;
$p-common-messages-warn-bg: #fcf8e3;
$p-common-messages-warn-border-color: #fbeed5;

$p-common-messages-error-color: #b94a48;
$p-common-messages-error-bg: #f2dede;
$p-common-messages-error-border-color: #eed3d7;

$p-common-messages-fatal-color: #b94a48;
$p-common-messages-fatal-bg: #f2dede;
$p-common-messages-fatal-border-color: #eed3d7;

/**
 * p:tooltip
 */
$p-tooltip-bg: #4c4c4c;
$p-tooltip-color: #fff;

//----------------------------------------------------------------------------------------------------------------------

/**
 * template:* commons
 */

/** _include/common-appbar.xhtml */
$sedn-appbar-bg: #1db394;
$sedn-appbar-color: #fff;

/** _include/common-cookies.xhtml */
$sedn-cookies-bg: #f8e19a;
$sedn-cookies-color: #424242;

/** _include/common-footer.xhtml */
$sedn-footer-bg: #fff;
$sedn-footer-border-color: #e0e0e0;
$sedn-footer-version-color: #757575;

/** _include/common-sidebar.xhtml */
$sedn-sidebar-bg: #2e4150;
$sedn-sidebar-border-color: #2e4150;
$sedn-sidebar-color: #fff;

/** _include/common-status.xhtml */
$sedn-status-indicator-bar-bg: #fff;

/**
 * template:logged
 */

/** _include/logged-sidebar-menu.xhtml */
$sedn-logged-sidebar-menu-item-hover-bg: rgba(#000, .5);

/** _include/logged-sidebar-accountInfo.xhtml */
$sedn-logged-sidebar-account-info-bg: rgba(#000, .25);
$sedn-logged-sidebar-account-info-action-link-color: lighten($link-color-default, 20%);
