//----------------------------------------------------------------------------------------------------------------------
$_sedn-brand-color: #00a0dc;

//----------------------------------------------------------------------------------------------------------------------

// <a>
$link-color-default: darken($_sedn-brand-color, 5%);
$link-color-hover: darken($_sedn-brand-color, 2.5%);
$link-color-visited: $link-color-default;

// <body>
$body-color: #222;
$body-bg: #f5f5f5;

// <pre>, <code>
$code-bg: #424242;
$code-color: #e0e0e0;

// <fieldset>
$fieldset-border-color: #bdbdbd;

//----------------------------------------------------------------------------------------------------------------------

/**
 * p:* commons
 */
$p-common-widget-header-border-color: #ccc;
$p-common-widget-header-bg: #efefef;
$p-common-widget-header-color: #111;

$p-common-widget-content-border-color: #ccc;
$p-common-widget-content-bg: #fff;
$p-common-widget-content-color: #111;

$p-common-state-default-border-color: #ccc;
$p-common-state-default-bg: #fff;
$p-common-state-default-color: #222;

$p-common-state-hover-border-color: #c0c0c0;
$p-common-state-hover-bg: #eee;
$p-common-state-hover-color: #222;

$p-common-state-focus-border-color: #bac8cd;
$p-common-state-focus-bg: #d3e1e6;
$p-common-state-focus-color: #2a2e35;

$p-common-state-active-border-color: #bac8cd;
$p-common-state-active-bg: #d3e1e6;
$p-common-state-active-color: #2a2e35;

$p-common-state-highlight-border-color: darken($_sedn-brand-color, 3%);
$p-common-state-highlight-bg: $_sedn-brand-color;
$p-common-state-highlight-color: #fff;

$p-common-state-error-color: #b94a48;
$p-common-state-error-bg: #f2dede;
$p-common-state-error-border-color: #eed3d7;

$p-common-overlay-bg: rgba(#000, .5);

$p-common-messages-info-color: #3a87ad;
$p-common-messages-info-bg: #d9edf7;
$p-common-messages-info-border-color: #bce8f1;

$p-common-messages-warn-color: #c09853;
$p-common-messages-warn-bg: #fcf8e3;
$p-common-messages-warn-border-color: #fbeed5;

$p-common-messages-error-color: #b94a48;
$p-common-messages-error-bg: #f2dede;
$p-common-messages-error-border-color: #eed3d7;

$p-common-messages-fatal-color: #b94a48;
$p-common-messages-fatal-bg: #f2dede;
$p-common-messages-fatal-border-color: #eed3d7;

/**
 * p:tooltip
 */
$p-tooltip-bg: #4c4c4c;
$p-tooltip-color: #fff;

//----------------------------------------------------------------------------------------------------------------------

/**
 * template:* commons
 */

/** _include/common-appbar.xhtml */
$sedn-appbar-bg: $_sedn-brand-color;
$sedn-appbar-color: #fff;
$sedn-appbar-actions-link-color: #fff;
$sedn-appbar-actions-link-bg-hover: rgba(#000, .25);

/** _include/common-cookies.xhtml */
$sedn-cookies-bg: #f8e19a;
$sedn-cookies-color: #424242;

/** _include/common-footer.xhtml */
$sedn-footer-bg: $p-common-widget-content-bg;
$sedn-footer-border-color: $p-common-widget-content-border-color;
$sedn-footer-version-color: rgba($p-common-widget-content-color, .7);

/** _include/common-sidebar.xhtml */
$sedn-sidebar-bg: #2e4150;
$sedn-sidebar-border-color: #2e4150;
$sedn-sidebar-color: #fff;

/** _include/common-status.xhtml */
$sedn-status-indicator-bar-bg: #fff;

/**
 * template:logged
 */

/** _include/logged-sidebar-menu.xhtml */
$sedn-logged-sidebar-menu-item-hover-bg: rgba(#000, .5);

/** _include/logged-sidebar-accountInfo.xhtml */
$sedn-logged-sidebar-account-info-bg: rgba(#000, .25);
