$_white: #fff;
$_black: #000;

$_gray50: #fafafa;
$_gray100: #f5f5f5;
$_gray200: #eeeeee;
$_gray300: #e0e0e0;
$_gray400: #bdbdbd;
$_gray500: #9e9e9e;
$_gray600: #757575;
$_gray700: #616161;
$_gray800: #424242;
$_gray900: #212121;

$_primary50: #e0f4fb;
$_primary100: #b3e3f5;
$_primary200: #80d0ee;
$_primary300: #4dbde7;
$_primary400: #26aee1;
$_primary500: #00a0dc;
$_primary600: #0098d8;
$_primary700: #008ed3;
$_primary800: #0084ce;
$_primary900: #0073c5;

$_secondary50: #e6e8ea;
$_secondary100: #c0c6cb;
$_secondary200: #97a0a8;
$_secondary300: #6d7a85;
$_secondary400: #4d5e6a;
$_secondary500: #2e4150;
$_secondary600: #293b49;
$_secondary700: #233240;
$_secondary800: #1d2a37;
$_secondary900: #121c27;

$_info50: $_primary50;
$_info100: $_primary100;
$_info200: $_primary200;
$_info300: $_primary300;
$_info400: $_primary400;
$_info500: $_primary500;
$_info600: $_primary600;
$_info700: $_primary700;
$_info800: $_primary800;
$_info900: $_primary900;

$_error50: #ffebee;
$_error100: #ffcdd2;
$_error200: #ef9a9a;
$_error300: #e57373;
$_error400: #ef5350;
$_error500: #f44336;
$_error600: #e53935;
$_error700: #d32f2f;
$_error800: #c62828;
$_error900: #b71c1c;

$_warn50: #fcf8e3;
$_warn100: #dbdbb3;
$_warn200: #c4c480;
$_warn300: #acac4d;
$_warn400: #9a9a26;
$_warn500: #888800;
$_warn600: #808000;
$_warn700: #757500;
$_warn800: #6b6b00;
$_warn900: #585800;
