//----------------------------------------------------------------------------------------------------------------------
$_baseline: .6rem;

$_font-family-sans: "Roboto", Arial, Helvetica, Tahoma;
$_font-family-mono: Consolas, "Courier New";
$_font-size-base: 1.3rem;

$_font-size-small: .92 * $_font-size-base;
$_font-size-large: 1.15 * $_font-size-base;
$_font-size-xlarge: 1.23 * $_font-size-base;
$_font-size-xxlarge: 1.38 * $_font-size-base;

//----------------------------------------------------------------------------------------------------------------------

// <body>
$body-min-width: 64rem;
$body-font-family: $_font-family-sans;
$body-font-size: $_font-size-base;
$body-line-height: bl(3);

// <h1>, ..., <h6>
$headings-margin: bl(3) bl(2);
$headings-font-weight: 500;

$h1-font-size: $_font-size-xxlarge;
$h2-font-size: $_font-size-xlarge;
$h3-font-size: $_font-size-large;
$h4-font-size: $_font-size-base;
$h5-font-size: $_font-size-small;

// <small>
$small-font-size: $_font-size-small;

// <pre>, <code>
$pre-and-code-font-family: $_font-family-mono;

$code-padding: bl(2);

// <fieldset>
$fieldset-margin: bl(2);
$fieldset-padding: bl(2);

// misc
$text-block-margin: bl(2);

//----------------------------------------------------------------------------------------------------------------------

/**
 * p:* commons
 */
$p-common-corner-radius: 3px;

$p-common-grid-columns: 12;
$p-common-grid-gutter: bl(2);

$p-common-input-font-size: $_font-size-base;
$p-common-input-line-height: bl(3);
$p-common-input-vertical-padding: bl(1);
$p-common-input-horizontal-padding: bl(1);

$p-common-state-disabled-opacity: .5;

/**
 * p:panel
 */
$p-panel-margin: bl(3);
$p-panel-header-vertical-padding: bl(1);
$p-panel-header-horizontal-padding: bl(2);
$p-panel-header-line-height: $body-line-height;
$p-panel-header-icon-horizontal-margin: bl(.5);

/**
 * p:panelGrid
 */
$p-panel-grid-margin: bl(3);
$p-panel-grid-cell-vertical-padding: bl(1);
$p-panel-grid-cell-horizontal-padding: bl(2);

/**
 * p:accordionPanel
 */
$p-accordion-panel-margin: bl(3);
$p-accordion-panel-header-vertical-padding: bl(1);
$p-accordion-panel-header-horizontal-padding: bl(2);
$p-accordion-panel-header-icon-width: bl(3);

/**
 * p:button, p:commandButton
 */
$p-button-height: bl(5);
$p-button-horizontal-padding: bl(2);
$p-button-icon-width: bl(3);
$p-button-icon-font-size: $_font-size-base;
$p-button-label-font-size: $_font-size-base;
$p-button-label-font-weight: 500;

/**
 * p:checkbox
 */
$p-checkbox-size: bl(3);
$p-checkbox-padding: bl(.5);
$p-checkbox-label-horizontal-padding: bl(.5);

/**
 * p:selectCheckboxMenu
 */
$p-select-checkbox-menu-panel-padding: bl(.5);
$p-select-checkbox-menu-filter-close-size: bl(4);
$p-select-checkbox-menu-token-margin: .2rem;
$p-select-checkbox-menu-token-horizontal-padding: bl(1);
$p-select-checkbox-menu-token-icon-width: bl(3);
$p-select-checkbox-menu-token-font-size: $_font-size-small;

/**
 * p:radioButton
 */
$p-radio-button-size: bl(3);
$p-radio-button-padding: bl(.5);
$p-radio-button-bullet-size: 1rem;
$p-radio-button-label-horizontal-padding: bl(.5);

/**
 * p:selectOneMenu
 */
$p-select-one-menu-trigger-width: bl(4);

/**
 * p:selectOneListbox
 */
$p-select-one-listbox-item-vertical-padding: bl(.5);
$p-select-one-listbox-item-horizontal-padding: bl(1);
$p-select-one-listbox-filter-padding: bl(1);

/**
 * p:multiSelectListbox
 */
$p-multiselect-listbox-header-vertical-padding: bl(1);
$p-multiselect-listbox-header-horizontal-padding: bl(2);
$p-multiselect-listbox-container-spacing: bl(1);

/**
 * p:calendar
 */
$p-calendar-content-padding: bl(.5);
$p-calendar-button-size: bl(4);
$p-calendar-button-padding: bl(.5);
$p-calendar-item-font-size: $_font-size-small;
$p-calendar-item-spacing: bl(.5);

/**
 * p:dataTable
 */
$p-data-table-margin: bl(3);

/**
 * p:paginator
 */
$p-paginator-padding: bl(1);
$p-paginator-pages-horizontal-padding: bl(2);
$p-paginator-button-size: bl(4);
$p-paginator-button-horizontal-padding: bl(.5);
$p-paginator-button-horizontal-margin: bl(.25);
$p-paginator-button-font-size: $_font-size-small;

/**
 * p:menu
 */
$p-menu-item-vertical-padding: bl(1);
$p-menu-item-horizontal-padding: bl(2);
$p-menu-item-icon-width: bl(3.5);

/**
 * p:toolbar
 */
$p-toolbar-group-padding: bl(1);
$p-toolbar-item-margin: .2rem;
$p-toolbar-item-separator-height: bl(3);

/**
 * p:overlayPanel
 */
$p-overlay-panel-close-size: bl(4);

/**
 * p:breadcrumb
 */
$p-breadcrumb-vertical-padding: bl(1);
$p-breadcrumb-horizontal-padding: bl(2);
$p-breadcrumb-item-horizontal-spacing: bl(1);

/**
 * p:colorPicker
 */
$p-color-picker-button-preview-square-size: bl(3);

/**
 * p:tooltip
 */
$p-tooltip-text-padding: bl(1) bl(2);
$p-tooltip-arrow-size: bl(1);

//----------------------------------------------------------------------------------------------------------------------

/**
 * template:* commons
 */

/** _include/common-appbar.xhtml */
$sedn-appbar-zindex: 2;
$sedn-appbar-height: bl(9);

/** _include/common-content.xhtml */
$sedn-content-zindex: 1;

/** _include/common-cookies.xhtml */
$sedn-cookies-zindex: 3;
$sedn-cookies-height: bl(2);
$sedn-cookies-padding: bl(3);
$sedn-cookies-close-button-size: bl(3);

/** _include/common-footer.xhtml */
$sedn-footer-version-font-family: $_font-family-mono;
$sedn-footer-version-font-size: $_font-size-small;

/** _include/common-sidebar.xhtml */
$sedn-sidebar-zindex: 3;
$sedn-sidebar-width: bl(39);

/** _include/common-status.xhtml */
$sedn-status-indicator-size: bl(15);
$sedn-status-indicator-bar-spacing: bl(.5);

/**
 * template:logged
 */

/** _include/logged-nav.xhtml */
$sedn-logged-nav-vertical-padding: bl(1.5);
$sedn-logged-nav-item-horizontal-padding: bl(3);

