#sedn {
  height: 100%;
  font-size: 62.5%;
}

#sedn-body {
  position: relative;
  margin: 0;
  padding: 0;
  min-width: $sedn-body-min-width;
  min-height: 100%;
  height: 100%;
  overflow-y: scroll;
}

@import "_include/common-appbar.base";
@import "_include/common-appbar-timer.base";
@import "_include/common-sidebar.base";
@import "_include/common-content.base";
@import "_include/common-cookies.base";
@import "_include/common-footer.base";
@import "_include/common-main.base";
@import "_include/common-status.base";