.display-block {
  display: block;
}

.hide {
  display: none;
}

.normal {
  font-weight: $_font-weight-normal;
}

.strong,
.bold {
  font-weight: $_font-weight-bold;
}

.italic {
  font-style: italic;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.font-small {
  font-size: $_font-size-base;
}

.font-base {
  font-size: $_font-size-base;
}

.font-large {
  font-size: $_font-size-large;
}

.font-xlarge {
  font-size: $_font-size-xlarge;
}

/**/
.sedn-size-xs {
  max-width: 24rem;
}

.sedn-size-sm {
  max-width: 36rem;
}

.sedn-size-md {
  max-width: 48rem;
}

.sedn-size-lg {
  max-width: 72rem;
}

//---
// Table cell classes
//---
.ui-datatable,
.ui-treetable {

  /**/
  thead th.sedn-dtc-idx {
    text-align: right;
    width: bl(10);
  }

  table td.sedn-dtc-idx {
    text-align: right;
  }

  /**/
  thead th.sedn-dtc-id,
  thead th.sedn-dtc-event-id {
    text-align: right;
    width: bl(19);
  }

  table td.sedn-dtc-id,
  table td.sedn-dtc-event-id {
    text-align: right;
  }

  /**/
  thead th.sedn-dtc {

    &-data,
    &-dataUzyskania,
    &-dataRozpoczeciaUdzialu,
    &-dataZakonczeniaUdzialu {
      text-align: center;
      width: bl(27);
    }
  }

  table td.sedn-dtc {

    &-data,
    &-dataUzyskania,
    &-dataRozpoczeciaUdzialu,
    &-dataZakonczeniaUdzialu {
      text-align: center;
    }
  }

  /**/
  thead th.sedn-dtc-punktacja {
    text-align: right;
    width: bl(19);
  }

  table td.sedn-dtc-punktacja {
    text-align: right;
  }

  thead th.sedn-dtc-id + th.sedn-dtc-punktacja {
    width: auto;
  }

  /**/
  thead th.sedn-dtc-actions {
    text-align: center;
    width: bl(10);

    &.with-label {
      width: bl(16);
    }
  }

  table td.sedn-dtc-actions {
    text-align: center;
  }

  /**/
  thead th.sedn-dtc-icon-only {
    text-align: center;
    width: bl(8);
  }

  table td.sedn-dtc-icon-only {
    text-align: center;

    .fa,
    .ui-icon {
      vertical-align: top;
    }
  }

  /**/
  thead th.sedn-dtc-user-active {
    text-align: center;
    width: bl(15);
  }

  table td.sedn-dtc-user-active {
    text-align: center;
  }

  /**/
  thead th.sedn-dtc-prac-inztech {
    text-align: center;
    width: bl(15);
  }

  table td.sedn-dtc-prac-inztech {
    text-align: center;
  }

  /**/
  thead th.sedn-dtc-nnumber {
    text-align: right;
    width: bl(10);
  }

  table td.sedn-dtc-nnumber {
    text-align: right;
  }

  /**/
  thead th.sedn-dtc-ko-point {
    text-align: right;
    width: bl(8);

    &.with-label {
      width: bl(12);
    }
  }

  table td.sedn-dtc-ko-point {
    text-align: right;
  }

  /**/
  thead th.sedn-dtc-ko-achievements-count {
    text-align: right;
    width: bl(22);
  }

  table td.sedn-dtc-ko-achievements-count {
    text-align: right;
  }

  /**/
  thead th.sedn-dtc-ko-points {
    text-align: right;
    width: bl(17);
  }

  table td.sedn-dtc-ko-points {
    text-align: right;
  }

  /**/
  thead th.sedn-dtc-ko-science-group {
    text-align: center;
    width: bl(17);
  }

  table td.sedn-dtc-ko-science-group {
    text-align: center;
  }

  /**/
  thead th.sedn-dtc-ko-id {
    text-align: right;
    width: bl(20);
  }

  table td.sedn-dtc-ko-id {
    text-align: right;
  }

  /**/
  thead th.sedn-dtc-ko-status {
    text-align: center;
    width: bl(33);
  }

  table td.sedn-dtc-ko-status {
    text-align: center;
  }

  /**/
  thead th.sedn-dtc-science-degree {
    text-align: right;
    width: bl(19);
  }

  table td.sedn-dtc-science-degree {
    text-align: right;
  }

  /**/
  thead th.sedn-dtc-appeal-create-date {
    text-align: center;
    width: bl(25);
  }

  table td.sedn-dtc-appeal-create-date {
    text-align: center;
  }

  /**/
  thead th.sedn-dtc-event-type {
    width: bl(30);
  }

  /**/
  thead th.sedn-dtc-event-decision {
    width: bl(46);
  }

  /**/
  thead th.sedn-dtc-role {
    width: bl(30);
  }
}

/**/
.ui-datatable-headless thead {

  &,
  th,
  tr {
    padding: 0 !important;
    height: 0 !important;
  }

  th {
    border-color: transparent !important;
  }
}

/**/
.ui-datatable {

  .ui-datalist {
    margin: 0;
    @include box-shadow(none);
  }

  .ui-datalist-content {
    border: 0;
    background: none;
    color: inherit;
    @include border-radius(0);
  }

  ul.ui-datalist-data {
    margin: 0;
  }

  .ui-datalist .ui-datalist-empty-message {
    padding: 0;
  }
}

/**/
.ui-paginator .ui-paginator-current {
  margin-right: auto;
}

.ui-paginator .ui-paginator-rpp-label {
  margin-left: auto;
}

/**/
.sedn-actions-footer {
  display: flex;
  align-items: center;
  justify-content: center;

  .ui-button,
  .ui-link,
  .ui-commandlink {

    + .ui-button {
      margin-left: $p-toolbar-item-margin;
    }

    + .ui-link,
    + .ui-commandlink {
      margin-left: $p-toolbar-item-margin + $p-button-horizontal-padding;
    }
  }
}

/**/
.sedn-actions-panel > .ui-panel-content {
  padding: bl(1) bl(2);
}

.sedn-actions-panel .sedn-actions-footer {
  justify-content: flex-start;
}

/**/
.ui-panel-content .ui-messages {
  margin: bl(2);
}
