form {
  margin-top: 0; // fix for <!DOCTYPE composition>
  margin-bottom: 0; // fix for <!DOCTYPE composition>
}

img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}
