.hide {
  display: none;
}

.strong {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

.text-right,
thead th.text-right {
  text-align: right;
}

.text-left,
thead th.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.key {
  background: #fafafa;
  font-weight: bold;
  width: 250px;
}

.index {
  text-align: right;
  width: 40px;
}

.n {
  width: 80px;
}

td.n {
  text-align: right;
}

.bool {
  width: 80px;
}

td.number {
  text-align: right;
}

//----
// Generate "_Xpx" util classes (X -- width in pixels)
//----

// 5 10 ... 20 25
@for $i from 0 through 4 {
  @include px-width-class(5 + 5*$i);
}

// 50 75 ... 225 250
@for $i from 0 through 8 {
  @include px-width-class(50 + 25*$i);
}

// 300 350 ... 1200 1250
@for $i from 0 through 19 {
  @include px-width-class(300 + 50*$i);
}

//----
// Generate "_Xpct" util classes (X -- width in percents)
//----

// 1 2 3 4 5
@for $i from 1 through 5 {
  @include pct-width-class($i);
}

// 8
@include pct-width-class(8);

// 10 15 ... 95 100
@for $i from 0 through 18 {
  @include pct-width-class(10 + $i*5);
}

//---
// Table cell classes
//---
.ui-datatable,
.ui-treetable {

  thead th.sedn-dtc-id {
    text-align: right;
    width: bl(19);
  }

  table td.sedn-dtc-id {
    text-align: right;
  }

  /**/
  thead th.sedn-dtc {

    &-data,
    &-dataUzyskania,
    &-dataRozpoczeciaUdzialu,
    &-dataZakonczeniaUdzialu {
      text-align: center;
      width: bl(27);
    }
  }

  table td.sedn-dtc {

    &-data,
    &-dataUzyskania,
    &-dataRozpoczeciaUdzialu,
    &-dataZakonczeniaUdzialu {
      text-align: center;
    }
  }

  /**/
  thead th.sedn-dtc-punktacja {
    text-align: right;
    width: bl(19);
  }

  table td.sedn-dtc-punktacja {
    text-align: right;
  }
}
